@charset "UTF-8";
/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

html {
    font-family: sans-serif;
  /* 1 */
    -ms-text-size-adjust: 100%;
  /* 2 */
    -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
    margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
    display: inline-block;
  /* 1 */
    vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
    display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
    background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
    outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
    font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
    font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
    background: #ff0;
    color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
    border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
    overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
    margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
    overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
    color: inherit;
  /* 1 */
    font: inherit;
  /* 2 */
    margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
    overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
  /* 2 */
    cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
    line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  /* 1 */
    padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
    border: 0;
  /* 1 */
    padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
    overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.hyphenate {
  word-wrap: break word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.dropshadowBox {
  -webkit-box-shadow: 0px 0px 26px -1px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 26px -1px rgba(0, 0, 0, 0.6); }

h1 {
  font-size: 3.815rem; }

h2 {
  font-size: 2.441rem; }

h3 {
  font-size: 1.563rem; }

h4 {
  font-size: 1.25rem; }

p {
  line-height: 1.5; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  color: #424242; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

:root {
  font-size: 18px;
  font-family: ff-meta-serif-web-pro, serif; }

a {
  color: inherit;
  text-decoration: none; }

p {
  margin: 0; }

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  min-width: 300px; }

.bend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 96.78px;
  font-family: ff-meta-serif-web-pro, serif;
  width: 100%;
  height: 14.552rem; }
  @media (min-width: 576px) {
    .bend {
      margin-top: 205.75px; } }
  .bend--small {
    height: 9.313rem; }
  .bend--color1 {
    background-color: #AF2B31;
    color: white; }
  .bend--color2 {
    background-color: #202C39;
    color: white; }
  .bend--color3 {
    background-color: #5d171a;
    color: white; }
  .bend--color4 {
    background-color: #0e1318;
    color: white; }
  .bend__grid {
    display: grid;
    grid-template-columns: 10fr 2fr; }
  .bend__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .bend__text h1 {
      position: relative;
      margin: 0;
      font-size: 2.441rem;
      line-height: 1.20;
      margin-bottom: 1.25rem;
      font-weight: 400; }

.breadcrumb {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  font-family: ff-meta-web-pro, sans-serif;
  font-size: 0.8rem;
  margin-bottom: 0.625rem; }
  .breadcrumb > li + li::before {
    content: "•";
    margin: 0 0.4rem; }
  .breadcrumb > li:last-child {
    color: #FFE066; }

.application-form {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.application__section {
  display: grid;
  grid-template-columns: 10fr 2fr; }

.application__head {
  grid-column: 1 / 3; }

.application__upload {
  grid-row: 2 / 3; }

.application__score {
  border-left: 1px solid #000;
  grid-row: 2 / 3;
  margin: 0; }

/* Componenti
-------------- */
.btn {
  border: none;
  background-color: #E3E3E2;
  font-weight: 400;
  color: #202C39;
  padding: 0.32rem 0.625rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: ff-meta-web-pro, sans-serif;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  letter-spacing: 1px;
  border-radius: 10px; }
  .btn:focus {
    outline: 1px solid #fff;
    outline-offset: -4px; }
  .btn--cta {
    background-color: transparent;
    width: 100%;
    color: #FFE066;
    color: white;
    border: 1px solid currentColor;
    font-weight: 600;
    font-size: 0.64rem;
    padding: 0.64rem 1.25rem;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .btn--cta:hover, .btn--cta:focus {
      background-color: #ffcb00;
      background-color: #FFE066;
      color: #202C39; }
    .membership .btn--cta {
      display: none; }
  .login .btn {
    background-color: transparent;
    width: 100%;
    color: #202C39;
    color: white;
    border: 1px solid currentColor;
    font-weight: 600;
    font-size: 0.64rem;
    padding: 0.64rem 1.25rem;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .login .btn:hover, .login .btn:focus {
      background-color: #ffcb00;
      background-color: #FFE066;
      color: #202C39; }
  .mainCongress .btn {
    font-size: 1rem; }
  .btn--void {
    background-color: transparent;
    padding: 0;
    color: inherit; }
  .btn--hollow {
    background-color: transparent;
    border: 1px solid currentColor;
    color: inherit; }
  .primaryNavigation__navbar .btn {
    position: relative;
    padding: 0 0.9rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.header {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 50px;
  background-color: white;
  font-family: ff-meta-web-pro, sans-serif;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.serviceNav {
  background-color: #AF2B31;
  font-weight: 600; }
  .serviceNav__navbar {
    padding-right: 1.953rem;
    list-style: none;
    display: none; }
    @media (min-width: 576px) {
      .serviceNav__navbar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 1.953rem;
        color: white;
        font-size: 0.64rem;
        text-transform: uppercase; }
        .serviceNav__navbar li {
          position: relative; }
          .serviceNav__navbar li i {
            margin-right: 4.5px; }
          .serviceNav__navbar li:not(:last-child) {
            margin-right: 1rem; }
            .serviceNav__navbar li:not(:last-child):after {
              content: "";
              position: absolute;
              display: inline-block;
              background-color: white;
              height: 0.9765rem;
              width: 1px;
              top: 1px;
              right: -9px; }
          .serviceNav__navbar li:hover, .serviceNav__navbar li:focus {
            color: #202C39; } }

.navbar {
  position: relative;
  padding: 0.328rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (min-width: 576px) {
    .navbar {
      display: block;
      width: 100%;
      padding: 0.512rem 0; } }
  .navbar i {
    color: #202C39;
    font-size: 2.441rem; }
  .navbar__icon {
    display: block; }
    @media (min-width: 576px) {
      .navbar__icon {
        display: none; } }

.prova {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: block;
  width: 40%;
  background-color: #AF2B31;
  -webkit-transform: skewX(-30deg);
      -ms-transform: skewX(-30deg);
          transform: skewX(-30deg); }

.logo {
  color: #AF2B31;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .logo a {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin-right: 0.5rem; }
  .logo__img {
    height: 90px; }
  @media (min-width: 576px) {
    .logo {
      margin-left: -4px; }
      .logo__img {
        height: 100px; } }

.logotype {
  display: none; }
  .logotype__french {
    display: block;
    border-bottom: 1px solid currentColor;
    padding-bottom: 3px; }
  .logotype__english {
    display: block; }
  @media (min-width: 576px) {
    .logotype {
      display: block;
      font-size: 1.25rem;
      font-weight: 300; } }

.primaryNavigation {
  display: none;
  font-family: ff-meta-web-pro, sans-serif;
  font-weight: 400;
  letter-spacing: 1px; }
  @media (min-width: 576px) {
    .primaryNavigation {
      display: block;
      width: 100%;
      background-color: #f0f0ef; } }

.primaryNavigation > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  font-size: 0.8rem;
  text-transform: uppercase;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.primaryNavigation__item {
  position: relative;
  list-style: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 0 1rem; }
  .primaryNavigation__item:hover {
    background-color: #202C39;
    color: white; }
  .primaryNavigation__item--highlight {
    font-style: italic;
    color: #862126; }
    .primaryNavigation__item--highlight:hover, .primaryNavigation__item--highlight:focus {
      color: white; }
  .primaryNavigation__item:last-child {
    margin-left: auto;
    font-weight: 700;
    padding-right: 1.953rem;
    padding-left: 1.953rem; }

.dropdownMenu {
  position: absolute;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.64rem;
  background-color: #202C39;
  padding-left: 0;
  width: 200px;
  top: 50px;
  left: -1px;
  right: -1px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .dropdownMenu li {
    padding: 0.83333rem 0 0.83333rem 1rem;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .dropdownMenu li:hover {
      background-color: #171f29; }
      .dropdownMenu li:hover a {
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        display: inline-block;
        -webkit-transform: translateX(10px);
            -ms-transform: translateX(10px);
                transform: translateX(10px); }

.toggle {
  display: none; }

.form {
  font-family: ff-meta-web-pro, sans-serif; }
  .form input[type="text"],
  .form input[type="password"],
  .form input[type="checkbox"] {
    border: 1px solid #e1e1e1;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.9rem;
    text-decoration: none;
    line-height: normal; }
    .form input[type="text"]:focus,
    .form input[type="password"]:focus,
    .form input[type="checkbox"]:focus {
      outline: none;
      color: black; }
  .form__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0.83333rem; }
    .form__group--vertical label {
      margin-bottom: 0.3125rem; }
    .form__group--orizzontal {
      -webkit-box-align: baseline;
          -ms-flex-align: baseline;
              align-items: baseline;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
      .form__group--orizzontal label {
        margin-left: 0.5rem;
        margin-bottom: 0; }

.login {
  position: relative;
  top: -3.75rem;
  display: none;
  font-family: ff-meta-web-pro, sans-serif;
  color: white;
  background-color: #5d171a;
  background-color: #202C39;
  padding: 1.25rem 1.953rem 2.5rem 1.953rem;
  font-weight: 400;
  margin: 1.25rem 0 0 0;
  -webkit-box-shadow: 0px 0px 26px -1px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 26px -1px rgba(0, 0, 0, 0.6); }
  .login__title {
    text-align: center;
    font-weight: 300;
    margin: 0;
    font-size: 1rem;
    line-height: 1.25;
    margin-bottom: 0.83333rem; }
  .login__form {
    font-size: 0.8rem; }
  .login__password label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .login__password a {
    color: #FFE066;
    font-weight: 300; }
  @media (min-width: 576px) {
    .login {
      display: block; } }

.card {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  opacity: 0.9;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: ff-meta-web-pro, sans-serif;
  padding: 0.625rem 1.953rem 1.25rem 1.953rem;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  cursor: pointer; }
  .card:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    position: relative;
    z-index: 2;
    opacity: 1; }
    .card:hover button {
      display: block; }
  .card__title {
    font-size: 1.563rem;
    margin-top: 0;
    margin-bottom: 0.625rem;
    font-weight: 300;
    line-height: 1.25; }
    .card--cta .card__title {
      font-weight: 400;
      line-height: 1.2; }
  .card__description {
    font-size: 1rem;
    margin-bottom: 0.625rem;
    line-height: 1.4; }
    .card--cta .card__description {
      font-size: 0.8rem;
      line-height: 1.25;
      font-weight: 300;
      font-style: italic;
      opacity: 0.8; }
  .membership .card:nth-child(even) {
    background-color: #AF2B31; }
  .membership .card:nth-child(odd):not(:last-child) {
    background-color: #5d171a; }
  .patronagesSection .card {
    color: #333;
    background-color: #f7f7f7; }
    .patronagesSection .card:hover {
      -webkit-transform: none;
          -ms-transform: none;
              transform: none;
      background-color: #E3E3E2; }
  .card--cta {
    background-color: #FFE066;
    color: #202C39; }
    .card--cta button {
      background-color: #202C39;
      color: #FFE066;
      font-weight: 600;
      padding: 9px !important;
      text-align: center !important; }
      .card--cta button:hover, .card--cta button:focus {
        background-color: #0e1318; }
  .card button {
    margin-top: auto;
    text-align: left;
    padding: 0;
    padding-bottom: 9px; }

.grid-footer {
  padding: 2.5rem 0; }

.footer {
  font-family: ff-meta-web-pro, sans-serif;
  font-weight: 300; }
  .footer p {
    font-size: 0.8rem;
    margin-bottom: 0.41667rem; }
  .footer i {
    margin-right: 9px;
    color: #AF2B31; }
  .footer__info {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-column-gap: 1.953rem;
    justify-items: start; }
  .footer__title {
    margin: 0;
    font-size: 1.25rem;
    grid-column: 1 / 5; }
  .footer__subtitle {
    margin: 0;
    margin-bottom: 0.83333rem;
    font-size: 1rem;
    position: relative; }
    .footer__subtitle:after {
      content: ' ';
      display: inline-block;
      height: 1px;
      width: 40px;
      position: absolute;
      bottom: -6px;
      left: 0;
      background-color: #AF2B31; }
  .footer__sitemap ul {
    margin: 0;
    margin-top: 0.20833rem;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
    font-size: 0.8rem; }
    .footer__sitemap ul li:not(:last-child) {
      margin-bottom: 0.41667rem; }
    .footer__sitemap ul li {
      padding-bottom: 0.41667rem;
      border-bottom: 1px dashed rgba(255, 255, 255, 0.4); }

@media (min-width: 576px) {
  .grid-intro {
    display: grid;
    grid-template-columns: 9fr 3fr;
    grid-column-gap: 1.953rem; } }

@media (min-width: 576px) {
  .grid-membership {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-auto-rows: minmax(12.5rem, auto); } }

@media (min-width: 576px) {
  .grid-othersCongresses {
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-column-gap: 1.953rem; } }

section {
  padding: 2.5rem 0; }

.homepageHeroImage {
  background-image: url("./../img/ossaBlu.jpg");
  background-repeat: no-repeat;
  background-position: 12% 12%;
  background-size: cover; }

.congressImage {
  background-image: url("./../img/geneve.jpg");
  background-repeat: no-repeat;
  background-position: 20% 20%;
  background-size: cover;
  position: relative;
  background-color: rgba(32, 44, 57, 0.8);
  background-blend-mode: multiply; }

.intro {
  background-color: #AF2B31;
  padding: 0; }
  .intro__text {
    position: relative;
    font-size: 1.563rem;
    grid-column: 1/ 2;
    color: white;
    margin: 3.75rem auto;
    margin-bottom: 0;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
    .intro__text a {
      font-style: italic;
      -webkit-transition: color 0.3s ease-in-out;
      -o-transition: color 0.3s ease-in-out;
      transition: color 0.3s ease-in-out; }
      .intro__text a:hover, .intro__text a:focus {
        color: #FFE066; }

.membership {
  position: relative;
  color: white;
  background-color: #202C39;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
  .membership__title, .membership__subtitle {
    position: relative;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    font-weight: 200; }
    .membership__title:after, .membership__subtitle:after {
      content: ' ';
      display: inline-block;
      height: 2px;
      width: 100px;
      position: absolute;
      bottom: -0.33333rem;
      left: 0;
      border-radius: 50px;
      background-color: #FFE066; }
  .membership__subtitle {
    display: none; }
    .membership__subtitle:after {
      width: 3%; }
  .membership__text {
    width: 75%;
    font-size: 1.25rem;
    margin-bottom: 2.5rem; }
  .membership .card:not(:last-child) button {
    color: #FFE066;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0; }
  .membership .card:not(:last-child):hover, .membership .card:not(:last-child):focus {
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
    .membership .card:not(:last-child):hover button, .membership .card:not(:last-child):focus button {
      opacity: 1;
      -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
              transform: translateY(0); }

.congresses {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
  .congresses .container1 {
    background-color: rgba(175, 43, 49, 0.9);
    color: white;
    padding: 1.25rem 1.953rem;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    min-width: 300px; }

.mainCongress {
  text-align: center; }
  .mainCongress__title {
    position: relative;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    font-weight: 300;
    font-size: 3.052rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .mainCongress__title:after {
      content: ' ';
      display: block;
      height: 3px;
      width: 20%;
      position: absolute;
      bottom: -0.25rem;
      background-color: currentColor;
      border-radius: 50px; }
  .mainCongress__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1.25rem;
    font-family: ff-meta-web-pro, sans-serif;
    font-weight: 300; }
    .mainCongress__info p i {
      margin-right: 0.33333rem; }
    .mainCongress__info p:first-child {
      margin-right: 2rem; }
  .mainCongress__description {
    width: 75%;
    font-size: 1.563rem;
    margin: 0 auto 2.5rem auto;
    font-weight: 300; }
  .mainCongress__CTA {
    margin-bottom: 1.25rem;
    font-family: ff-meta-web-pro, sans-serif;
    font-weight: 300;
    color: #FFE066; }

.othersCongresses {
  padding-top: 1.953rem;
  padding-bottom: 0;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
  .othersCongresses__congress {
    padding: 1.25rem 1.953rem;
    background-color: rgba(175, 43, 49, 0.9);
    color: white;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .othersCongresses__title {
    position: relative;
    margin: 0 0 1.25rem 0;
    font-weight: 300; }
    .othersCongresses__title:after {
      content: ' ';
      display: block;
      height: 2px;
      width: 15%;
      position: absolute;
      bottom: -0.25rem;
      background-color: currentColor;
      border-radius: 50px; }
  .othersCongresses__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1.25rem;
    font-family: ff-meta-web-pro, sans-serif;
    font-weight: 300; }
    .othersCongresses__info p i {
      margin-right: 0.33333rem; }
    .othersCongresses__info p:first-child {
      margin-right: 2rem; }
  .othersCongresses__description {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
    font-weight: 300; }
  .othersCongresses__CTA {
    margin-bottom: 1.25rem;
    font-family: ff-meta-web-pro, sans-serif;
    font-weight: 300;
    color: #FFE066; }

.newsSection {
  background-color: #202C39; }
  .newsSection__title {
    margin-top: 0;
    position: relative;
    margin-bottom: 2.5rem;
    font-weight: 200;
    color: white; }
    .newsSection__title:after {
      content: ' ';
      display: inline-block;
      height: 2px;
      width: 100px;
      position: absolute;
      bottom: -0.33333rem;
      left: 0;
      border-radius: 50px;
      background-color: #FFE066; }

@media (min-width: 576px) {
  .grid-news-img {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-column-gap: 0.9765rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start; } }

@media (min-width: 576px) {
  .grid-news-noimg {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-column-gap: 0.9765rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start; } }

.news {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .grid-news-noimg .news {
    margin-top: 0.9765rem; }
  .news__title,
  .news h3 {
    font-weight: 600;
    margin: 0 0;
    line-height: 1.1;
    margin-bottom: 0.625rem;
    font-size: 1.25rem; }
  .news__date {
    font-family: ff-meta-web-pro, sans-serif;
    background-color: white;
    padding: 0.625rem 0.9765rem;
    font-weight: 300;
    font-size: 1rem; }
    .news__date i {
      margin-right: 0.25rem; }
    .grid-news-noimg .news__date {
      background-color: #AF2B31;
      color: white; }
  .news__description {
    background-color: #f2f2f2;
    padding: 0.625rem 0.9765rem;
    padding-top: 1.25rem; }
    .news__description h4,
    .news__description h5,
    .news__description h6 {
      font-weight: 300;
      margin: 0 0;
      margin-bottom: 0.625rem;
      font-size: 1rem;
      text-transform: uppercase; }
    .news__description * + h4,
    .news__description * + h5,
    .news__description * + h6 {
      margin-top: 0.625rem; }
    .news__description ul {
      margin: 0; }
    .news__description p,
    .news__description ul,
    .news__description ol {
      margin-bottom: 0.41667rem; }
    .news__description * + button {
      margin-top: 1.25rem; }
    .news__description button {
      border: none;
      background-color: transparent;
      font-weight: 400;
      color: #202C39;
      border: 1px solid currentColor;
      padding: 0.32rem 1.953rem;
      font-size: 0.8rem;
      line-height: 1;
      font-family: ff-meta-web-pro, sans-serif;
      text-decoration: none;
      cursor: pointer;
      -webkit-transition: background-color 200ms ease-in-out;
      -o-transition: background-color 200ms ease-in-out;
      transition: background-color 200ms ease-in-out;
      -webkit-appearance: none;
      -moz-appearance: none;
      letter-spacing: 1px;
      border-radius: 5px; }
      .news__description button:hover, .news__description button:focus {
        background-color: #202C39;
        color: white; }
      .news__description button:focus {
        outline: 1px solid #fff;
        outline-offset: -4px; }

.news--span2 {
  grid-column: 1 / 3; }

.patronagesSection__title {
  margin-top: 0;
  position: relative;
  margin-bottom: 2.5rem;
  font-weight: 200; }
  .patronagesSection__title:after {
    content: ' ';
    display: inline-block;
    height: 2px;
    width: 100px;
    position: absolute;
    bottom: -0.33333rem;
    left: 0;
    border-radius: 50px;
    background-color: #AF2B31; }

.patronagesSection__description {
  width: 75%;
  font-size: 1.25rem;
  margin-bottom: 2.5rem; }

.patronages i {
  margin: 0.41667rem;
  margin-right: 4px;
  margin-left: 0;
  color: #AF2B31; }

.patronages-grid {
  display: grid;
  grid-template-columns: 6fr 6fr;
  grid-gap: 1.953rem; }

.constitution h2,
.constitution h3,
.constitution h4,
.history h2,
.history h3,
.history h4 {
  margin: 0;
  font-weight: 400;
  position: relative; }

.constitution h2,
.history h2 {
  font-size: 1.563rem;
  margin-bottom: 0.625rem; }
  .constitution h2:after,
  .history h2:after {
    content: ' ';
    display: inline-block;
    height: 2px;
    width: 3%;
    position: absolute;
    bottom: -2px;
    left: 0;
    background-color: #AF2B31; }

.constitution h3,
.history h3 {
  font-size: 1.25rem;
  font-weight: 700; }

.constitution h4,
.history h4 {
  font-size: 1rem;
  font-weight: 700; }

.constitution ul,
.constitution ol,
.history ul,
.history ol {
  margin: 0;
  padding: 0; }

.constitution p,
.constitution ul,
.constitution ol,
.history p,
.history ul,
.history ol {
  padding-left: 1rem;
  font-size: 1.25rem;
  line-height: 1.6; }

.constitution p + p,
.history p + p {
  margin-bottom: 1.875rem; }

.constitution p + ul,
.history p + ul {
  margin-top: 0.625rem; }

.constitution .author,
.history .author {
  font-style: italic;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-size: 1rem; }

.constitution__grid,
.history__grid {
  display: grid;
  grid-template-columns: 9fr 3fr;
  margin-top: 2.5rem; }
  .constitution__grid .article,
  .history__grid .article {
    grid-column: 1 / 2;
    margin-bottom: 2.5rem; }

.membershipHeroImage {
  background-image: url("./../img/secec_community.jpg");
  background-repeat: no-repeat;
  background-position: 78% 78%;
  background-size: cover;
  background-color: rgba(32, 44, 57, 0.9);
  background-blend-mode: multiply; }

.p-membership {
  font-family: ff-meta-web-pro, sans-serif; }
  .p-membership .grid {
    display: grid;
    grid-template-columns: 8fr 4fr;
    grid-column-gap: 1.953rem; }
    .p-membership .grid h2 {
      grid-column: 1 / 3; }
    .p-membership .grid .prima {
      grid-column: 1 / 3; }
      .p-membership .grid .prima a {
        font-style: italic;
        color: #FFE066; }
      .p-membership .grid .prima p:first-child {
        font-size: 1.563rem;
        line-height: 1.4; }
    .p-membership .grid .seconda {
      color: white;
      -ms-flex-item-align: start;
          align-self: start;
      grid-column: 3 / 4;
      font-weight: 300;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
      .p-membership .grid .seconda img {
        margin-bottom: 1.25rem; }
  .p-membership .grid-requirements {
    display: grid;
    grid-template-columns: 7fr 1fr 4fr;
    grid-column-gap: 1.953rem; }
    .p-membership .grid-requirements .prima p:nth-child(3) {
      font-style: italic; }
    .p-membership .grid-requirements .prima > ul {
      list-style: none;
      padding: 0; }
      .p-membership .grid-requirements .prima > ul span {
        font-weight: 600;
        line-height: 1.2;
        display: block; }
      .p-membership .grid-requirements .prima > ul > li:not(:last-child) {
        margin-bottom: 1.25rem; }
    .p-membership .grid-requirements .seconda {
      grid-column: 3 / 4; }
      .p-membership .grid-requirements .seconda p {
        font-size: 1rem; }
      .p-membership .grid-requirements .seconda p:not(:last-child) {
        margin-bottom: 0.625rem; }
      .p-membership .grid-requirements .seconda h3 {
        margin-bottom: 0.625rem;
        font-weight: 600; }
  .p-membership h2 {
    position: relative;
    font-weight: 400;
    margin: 0;
    font-size: 2.441rem;
    font-size: 1.953rem;
    margin-bottom: 0.625rem;
    line-height: 1.4; }
  .p-membership h3 {
    line-height: 1.4;
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0; }
  .p-membership section p,
  .p-membership section ul,
  .p-membership section ol {
    font-size: 1rem; }
  .p-membership p:not(:last-child) {
    margin-bottom: 1.25rem; }
  .p-membership p + ul {
    margin-top: 0.625rem; }

.grid-members {
  display: grid;
  grid-template-columns: repeat(3, 4fr);
  grid-column-gap: 0.9765rem; }
  .grid-members .div {
    padding: 1.25rem 0.9765rem; }
    .grid-members .div ul {
      font-size: 0.8rem; }
  .grid-members .member,
  .grid-members .div {
    padding: 0 0.9765rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .grid-members .member ul,
    .grid-members .div ul {
      font-size: 0.8rem;
      margin: 0;
      margin-bottom: 1.25rem; }
    .grid-members .member .btn,
    .grid-members .div .btn {
      margin-top: auto; }
  .grid-members h3 {
    margin: 0.625rem 0; }
  .grid-members h4 {
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 0.41667rem; }

.committee__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.junior h2 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  position: relative;
  font-weight: 200; }
  .junior h2:after {
    content: ' ';
    display: inline-block;
    height: 2px;
    width: 100px;
    position: absolute;
    bottom: -0.33333rem;
    left: 0;
    border-radius: 50px;
    background-color: #AF2B31; }
