$bgc: #f5f6f6; // background-color
$tc: #424242; // text-color

html {
  // @include qrq-system-font-stack;
  -webkit-text-size-adjust: 100%; // [1]
  -ms-text-size-adjust: 100%; // [1]
  -webkit-tap-highlight-color: transparent; // [2]
  box-sizing: border-box; // [3]
  -webkit-font-smoothing: antialiased; // [4]
  -moz-osx-font-smoothing: grayscale; // [4]
  background-color: white;
  color: $tc;
  // font-family: 'Open Sans', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit; // [3]
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}