.bend {
  // $hight: $vr * 10;

  // &--big {
  //   height: $hight;
  // }

  // &--small {
  //   height: ($hight / 1.5);
  // }

  &--color1 {
    background-color: $fascia1;
    color: white;
  }

  &--theme-red {
    @include theme-red;
  }

  &--color2 {
    background-color: $secondaryColor;
    color: rgba(255, 255, 255, 0.9);
    // color: white;
    // @include themeBlue;
  }

  &--theme-blue {
    background-color: $secondaryColor;
    color: rgba(255, 255, 255, 0.9);
  }

  &--theme-blue-dark {
    background-color: darken($secondaryColor, 10%);
    color: rgba(255, 255, 255, 0.9);
  }

  &--color3 {
    background-color: darken($rosso, 20%);
    color: white;
  }

  &--bkg-image-dark {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(32, 44, 57, 0.9);
    background-blend-mode: multiply;
    color: white;
  }
}