.breadcrumb {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  font-family: $secondaryText;
  font-size: $type-1;
  margin-bottom: ($vr / 3);

  >li+li::before {
    content: "•";
    margin: 0 (0.8rem / 2);
  }

  >li:last-child {
    color: $accent;
  }
}