.btn {
  border: none;
  // background-color: $grigio3;
  font-weight: 400;
  // color: $blu1;
  padding: (0.64rem / 2) (1.25rem / 2);
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: ff-meta-web-pro, sans-serif;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  letter-spacing: 1px;
  border-radius: 5px;

  &:hover,
  &:focus {
    // background-color: darken($rosso, 10%);
  }

  &:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
  }

  &:active {}

  &--cta {

    background-color: transparent;
    width: 100%;
    color: white;
    border: 1px solid currentColor;
    font-weight: 600;
    font-size: $type-2;
    padding: 0.64rem 1.25rem;
    transition: all 0.2s ease-in-out;

    &:hover,
    &:focus {

      background-color: $accento2;
      color: $primaryColor;
    }

    @include sm {
      font-size: $type0;
    }

    .membership-types &,
    .membership-rules & {
      background-color: $secondaryColor;
      color: $accent;
      border: none;

      &:hover,
      &:focus {

        background-color: $accent;
        color: $secondaryColor;

      }
    }


  }

  .login & {
    background-color: transparent;
    width: 100%;
    color: $accento;
    color: white;
    border: 1px solid currentColor;
    font-weight: 600;
    font-size: 0.64rem;
    padding: 0.64rem 1.25rem;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus {
      background-color: darken($accento2, 20%);
      background-color: $accento2;
      color: $blu1;
    }
  }

  .mainCongress & {
    font-size: 1rem;
  }

  &--void {
    background-color: transparent;
    padding: 0;
    color: inherit;
  }

  &--hollow {
    background-color: transparent;
    border: 1px solid currentColor;
    color: inherit;

    &:hover,
    &:focus {
      background-color: $tc;
      color: white;
    }
  }

  &--red {
    background-color: $rosso;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);

    &:hover,
    &:focus {
      background-color: darken($rosso, 10%);
    }
  }

  .primaryNavigation__navbar & {
    position: relative;
    padding: 0 0.9rem;
    display: flex;
    justify-content: center;
  }
}