.card {
  position: relative;
  z-index: 1;
  display: flex;
  color: white;
  opacity: 0.9;
  flex-direction: column;
  font-family: ff-meta-web-pro, sans-serif;
  padding: ($vr / 2) 1.953rem $vr 1.953rem;
  transition: all 0.1s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
    position: relative;
    z-index: 2;
    opacity: 1;

    button {
      display: block;
    }
  }



  // justify-content: space-between;
  // align-items: center;
  &__title {
    // position: relative;
    font-size: 1.563rem;
    margin-top: 0;
    margin-bottom: $vr / 2;
    font-weight: 300;
    line-height: 1.25;

    .card--cta & {
      font-weight: 400;
      line-height: 1.2;
    }

  }

  &__description {
    // font-family: ff-meta-serif-web-pro, serif;
    font-size: 1rem;
    margin-bottom: $vr / 2;
    line-height: 1.4;

    .card--cta & {
      font-size: 0.8rem;
      line-height: 1.25;
      font-weight: 300;
      font-style: italic;
      opacity: 0.8;
    }
  }

  .membership & {
    &:nth-child(even) {
      background-color: $rosso;
    }

    &:nth-child(odd):not(:last-child) {
      background-color: darken($rosso, 20%);
    }
  }

  .patronagesSection & {
    color: #333;
    background-color: lighten($grigio3, 8%);

    // &:nth-child(even) {
    //   background-color: $blu1;
    //   background-color: lighten($grigio3, 10%);
    // }

    // &:nth-child(odd) {
    //   background-color: darken($blu1, 10%);
    //   background-color: lighten($grigio3, 5%);
    //   ;
    // }

    &:hover {
      transform: none;
      background-color: $grigio3;

    }
  }

  &--cta {
    background-color: $giallo;
    color: $blu1;

    button {
      background-color: $blu1;
      color: $giallo;
      font-weight: 600;
      padding: 9px !important;
      text-align: center !important;

      &:hover,
      &:focus {
        background-color: darken($blu1, 10%);
      }
    }
  }


  button {
    margin-top: auto;
    text-align: left;
    padding: 0;
    padding-bottom: 9px;

    // &:hover,
    // &:focus {
    //   color: darken($giallo, 30%);
    // }

  }

  .grid-membership & {}

  // * {
  //   border: 1px solid red;
  // }

  &--small {}
}