.footer {
  font-family: $secondaryText;
  font-weight: 300;
  padding: $vr 0;

  @include sm {
    padding: ($vr * 2) 0;

  }

  p {
    font-size: $type-1;
    margin-top: ($vr / 6);
    margin-bottom: ($vr / 6);

    @include sm {
      margin-top: ($vr / 3);
      margin-bottom: $vr / 3;
    }
  }

  i {
    margin-right: 9px;
    color: $rosso;

  }

  &__grid {
    display: grid;
    text-align: left;
    grid-gap: ($gutter / 1.5);


    @include sm {
      grid-template-columns: 3fr 3fr;
      grid-gap: $gutter;

      ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: ($gutter / 2);
      }
    }

    @include md {
      grid-gap: ($gutter / 1.5);
    }

    @include lg {
      grid-template-columns: 3fr 3fr 3fr 3fr;
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: ($vr / 2);
    font-size: $type0;
    position: relative;

    @include sm {
      margin-bottom: ($vr / 1.5);
    }

    &:after {
      content: ' ';
      display: inline-block;
      height: 1px;
      width: 100%;
      position: absolute;
      bottom: -6px;
      left: 0;
      border-bottom: 1px dashed rgba(175, 43, 49, 0.8);
      opacity: 0.4;

      @include sm {
        left: 0;
      }
    }
  }

  &__sitemap {
    ul {
      margin: 0;
      margin-top: ($vr / 6);
      padding: 0;
      list-style: none;
      text-transform: uppercase;
      font-size: $type-1;

      li:not(:last-child) {
        margin-bottom: $vr / 3;
      }

      li {
        padding-bottom: $vr / 3;
        border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
        display: flex;
        align-items: center;
      }
    }
  }

  .saep {
    font-size: $type-2;
  }
}