.form {


  input[type="text"],
  input[type="password"],
  input[type="checkbox"] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: $type-1;
    text-decoration: none;
    line-height: normal;
    // min-height: 3rem; //Opera fix
    padding: 5px;
    color: $secondaryColor;

    &:focus {
      outline: none;

    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    margin-bottom: $vr/1.5;

    .member-application__form & {
      margin-bottom: $vr;

      label {
        font-family: $secondaryText;
        margin-bottom: $vr / 10;
        font-weight: 300;
      }
    }

    &--vertical {

      label {
        margin-bottom: $vr/4;


      }

      .criteria & {
        margin-bottom: $vr;

        &:only-child {
          margin-bottom: 0;
        }

        @include sm {
          width: 95%;

        }

        @include md {
          width: 70%;

        }

        @include lg {
          width: 60%;

        }




        input {
          padding: (0.64rem / 2) (1.25rem / 2);
          border: 1px solid $secondaryColor;
          flex: 1 1 auto;
        }
      }
    }


    &--orizzontal {
      align-items: baseline;
      flex-direction: row;

      .criteria & {
        margin-bottom: 0;

        input {
          padding: (0.64rem / 2) (1.25rem / 2);
          border: 1px solid $secondaryColor;
          width: 300px;
        }
      }

      label {
        margin-left: (1rem/2);
        margin-bottom: 0;
      }
    }
  }

  &__control {
    display: flex;

    .criteria & {
      // margin-top: $vr/3;
    }
  }

}