.form {


  input[type="text"],
  input[type="password"],
  input[type="checkbox"] {
    // padding: 0.512rem 0.8rem;
    // border: 1px solid #e1e1e1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: $type-1;
    text-decoration: none;
    line-height: normal;
    // min-height: 3rem; //Opera fix

    &:focus {
      outline: none;
      color: black;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    margin-bottom: $vr/1.5;

    &--vertical {

      label {
        margin-bottom: $vr/4;
      }

      .criteria & {
        margin-bottom: $vr;

        &:only-child {
          margin-bottom: 0;
        }

        width: 50%;


        input {
          padding: (0.64rem / 2) (1.25rem / 2);
          border: 1px solid $secondaryColor;
          flex: 1 0 auto;
          // width: 300px;
        }
      }
    }


    &--orizzontal {
      align-items: baseline;
      flex-direction: row;

      .criteria & {
        margin-bottom: 0;

        input {
          padding: (0.64rem / 2) (1.25rem / 2);
          border: 1px solid $secondaryColor;
          width: 300px;
        }
      }

      label {
        margin-left: (1rem/2);
        margin-bottom: 0;
      }
    }
  }

  &__control {
    display: flex;

    .criteria & {
      margin-top: $vr/3;
    }
  }

}