.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 50px;
  background-color: white;
  font-family: $secondaryText;
  z-index: z(header);
  @include box_shadow(4);
}

.service-nav {
  @include theme-red;
  font-weight: 600;
  position: relative;

  &__navbar {
    // padding-right: 16px;
    list-style: none;
    display: none;
    margin: 0;

    @include md {
      // padding-right: $gutter;
    }

    @include sm {

      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: $vr * 1.2;
      font-size: $type-2;
      text-transform: uppercase;

      li {
        position: relative;

        i {
          margin-right: 4.5px;
        }

        &:not(:last-child) {
          margin-right: 1rem;

          &:after {
            content: "";
            position: absolute;
            display: inline-block;
            background-color: currentColor;
            height: (1.953rem / 2);
            width: 1px;
            top: 1px;
            right: -9px;
          }
        }

        &:hover,
        &:focus {
          color: $secondaryColor;
        }
      }

      #login-service-btn {
        cursor: pointer;
      }
    }
  }
}



.navbar {
  // position: relative;
  padding: ($vr / 3) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: z(header, navbar);
  background-color: white;

  @include sm {
    display: block;
    padding: ($vr / 6) 0;
  }

  @include md {
    display: block;
    padding: ($vr / 3) 0;
  }

  .container & {
    margin: 0 -16px;
    padding-left: 16px;
    padding-right: 16px;
  }

  i {
    color: $secondaryText;
    font-size: $type4;
  }

  &__icon {
    display: block;
    font-size: $type-1;
    text-align: center;


    .fa-bars {
      font-size: $type3;

    }

    p {
      margin: 0;
      text-transform: uppercase;
    }

    @include sm {
      display: none;
    }
  }


}

.logo {
  color: $primaryColor;
  display: flex;
  align-items: center;

  a {
    flex: none;
    margin-right: (1rem / 2);
  }

  &__img {
    height: 80px;
  }

  @include sm {
    margin-left: -4px;

    &__img {
      height: 70px;
    }
  }

  @include lg {
    margin-left: -4px;

    &__img {
      height: 100px;
    }
  }

  .headroom--not-top & {
    .logotype {
      font-size: $type0;
    }

    &__img {
      height: 50px;
    }
  }
}

.logotype {
  margin: 0;
  white-space: nowrap;
  display: none;

  &__french {
    display: block;
    border-bottom: 1px solid currentColor;
    padding-bottom: 4px;

  }

  &__english {
    display: block;

  }

  @include sm {
    display: block;
    font-size: $type0;
    font-weight: 300;
  }

  @include md {
    font-size: $type1;
  }

  @include lg {
    font-size: $type2;
  }
}

.primary-navigation {
  position: fixed;
  @include theme-gray;
  font-family: $secondaryText;
  font-weight: 400;
  letter-spacing: 1px;
  // z-index: z(header, dropdown);
  z-index: -1;
  top: 98px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  transition: transform 0.2s ease-out;
  transform: translateY(calc(-100% - 40px));
  // transform: translateY(calc(-100% - 98px));


  @include sm {
    // @include no-theme;
    transform: translateY(0);
    position: relative;
    top: 0;
    display: block;
    width: 100%;
    height: auto;

    // @include theme-gray;
  }
}

.toggle-nav {
  transition: transform 0.2s ease-in;
  transform: translateY(0);
}

.primary-navigation {
  &__navbar {
    display: flex;
    font-size: $type-1;
    text-transform: uppercase;
    height: ($vr * 2);
    flex-direction: column;


    @include sm {
      flex-direction: row;
      align-items: center;
      font-size: $type-2;
      height: ($vr * 1.5);
    }

    @include md {
      font-size: $type-1;
      height: ($vr * 1.5);
    }

    @include lg {
      font-size: $type-1;
      height: ($vr * 2);
    }
  }

  &__item {
    position: relative;
    list-style: none;
    flex: 0 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    padding: 0 ($gutter / 2);
    border-bottom: 1px dashed rgba(175, 43, 49, 0.8);

    &:hover {
      @include theme-blue;
    }

    @include sm {
      border: none;
      padding: 0 ($gutter / 3);
      justify-content: flex-start;
    }

    @include md {
      padding: 0 ($gutter / 1.5);
    }

    @include lg {
      padding: 0 ($gutter / 2);
    }

    &--highlight {
      font-style: italic;
      color: $primaryColor;
      display: none;

      &:hover,
      &:focus {
        color: rgba(255, 255, 255, 0.9);
      }

      @include lg {
        display: block;
      }
    }

    &:last-child {

      font-weight: 700;

      @include sm {
        margin-left: auto;
        padding-right: ($gutter / 3);
        padding-left: ($gutter / 3);

        &:hover,
        &:focus {
          color: $accent;
        }
      }

      @include md {
        padding-right: $gutter;
        padding-left: $gutter;
      }
    }

    >i {
      margin-left: 9px;

      // transform: rotate(90deg);

      @include sm {
        display: none;
      }
    }
  }

  &__first-level-link {
    display: flex;
    align-items: center;
    height: 100%;
  }

}

.dropdown-menu {
  position: absolute;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: $type-2;
  @include theme-blue;
  padding-left: 0;
  width: 100%;
  left: -0.5px;
  right: -0.5px;
  top: 53px;
  z-index: z(header, dropdown-2nd);

  @include box_shadow(4);

  @include sm {

    width: 200px;
    top: 40px;
    left: 0px;
  }

  @include lg {
    top: 54px;

  }

  li {
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: darken($secondaryColor, 5%);

      a {
        transition: all 0.2s ease-in-out;
        transform: translateX(8px);
      }
    }

    a {
      padding: ($vr / 1.5) 0 ($vr / 1.5) 1rem;
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
}

.js-toggle {
  display: none;
}