.hero {
  display: flex;
  align-items: center;
  margin-top: 96.78px;
  font-family: $primaryText;
  width: 100%;
  padding: ($vr * 1) 0;

  @include sm {
    margin-top: 151.9px;
    padding: ($vr * 1.5) 0;
  }

  @include lg {
    margin-top: 204.4px;
  }

  @include xl {
    padding: ($vr * 3) 0;
  }

  &--small {
    //padding: ($vr);

    @include sm {
      padding: ($vr * 1.5) 0;
    }

    @include md {}

    @include lg {}
  }

  &--no-text {
    height: ($vr * 5);

    @include sm {
      height: ($vr * 6);
    }

    @include md {
      height: ($vr * 7);
    }

    @include lg {
      height: ($vr * 10);
    }
  }



  &__grid {

    @include sm {
      display: grid;
      grid-template-columns: 10fr 2fr;
    }
  }

  &__title {
    position: relative;
    margin: 0;
    font-size: $type1;
    line-height: 1.20;
    font-weight: 300;

    @include sm {
      font-size: $type2;
    }

    @include md {
      font-size: $type3;
    }

    @include xl {
      font-size: $type4;
    }
  }

}

.sub-hero {
  display: flex;
  align-items: center;
  padding: ($vr) 0;

  @include sm {
    padding: ($vr * 1.5) 0;
  }

  @include xl {
    padding: ($vr * 1.5) 0;
  }

  &__text {
    margin: 0;
    font-size: $type0;
    line-height: 1.4;

    @include sm {
      font-size: $type1;
    }

    @include md {
      font-size: $type2;
    }
  }


  &__link {
    font-style: italic;
    color: $accent;

    &:hover {}
  }
}

.hero-toast {

  // height: $vr * 2;
  .container {


    @include md {
      display: grid;
      grid-template-columns: 10fr 2fr;
    }
  }

  @include theme-accent;

  padding: ($vr / 3) 0;
  font-size: $type-1;

  p {
    margin: 0;
    line-height: 1.3;
    // margin-bottom: $vr / 2;

    @include sm {
      font-size: $type0;
    }
  }

  .btn {
    display: block;
    text-align: center;
    border: 1px solid $primaryColorOpaque;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    margin-top: $vr / 3;

    &:hover {
      @include theme-red;
    }

    @include md {
      margin-top: 0;
      margin-left: $gutter / 2;
      display: inline-block;
    }
  }
}