.hero {
  display: flex;
  align-items: center;
  margin-top: 96.78px;
  font-family: $primaryText;
  width: 100%;
  padding: ($vr * 1) 0;

  @include sm {
    margin-top: 151.9px;
    padding: ($vr * 1.5) 0;
  }

  @include lg {
    margin-top: 204.4px;
  }

  @include xl {
    padding: ($vr * 3) 0;
  }

  &--small {
    padding: 5.313rem;

    @include sm {
      padding: ($vr * 1.5) 0;
    }
  }

  &--no-text {
    height: ($vr * 5);

    @include sm {
      height: ($vr * 6);
    }

    @include md {
      height: ($vr * 7);
    }

    @include lg {
      height: ($vr * 10);
    }
  }



  &__grid {

    @include sm {
      display: grid;
      grid-template-columns: 10fr 2fr;
    }
  }

  &__title {
    position: relative;
    margin: 0;
    font-size: $type1;
    line-height: 1.20;
    font-weight: 300;

    @include sm {
      font-size: $type2;
    }

    @include md {
      font-size: $type3;
    }

    @include xl {
      font-size: $type4;
    }
  }

  &__text {}

}

.sub-hero {
  display: flex;
  align-items: center;
  padding: ($vr * 1.5) 0;

  &__text {
    margin: 0;
    font-size: 1.563rem;
    line-height: 1.4;
  }


  &__link {
    font-style: italic;
    color: $giallo;

    &:hover {}
  }
}