.login,
.magazine {
  position: relative;

  font-family: ff-meta-web-pro, sans-serif;
  @include theme-secondary-dark;
  padding: ($vr/2) $gutter $vr $gutter;
  font-weight: 400;
  margin: 0 auto;


  @include sm {

    width: 60%;
  }

  @include md {
    width: 100%;

    display: block;
    // margin-top: $vr;
    padding: ($vr/2) $gutter $vr $gutter;
    box-shadow: 0px 0px 26px -1px rgba(0, 0, 0, 0.6);
  }

  @include lg {
    top: - ($vr * 2);
  }

  @include xl {
    top: - ($vr * 3);
  }

  &__title {
    text-align: center;
    font-weight: 300;
    margin: 0;
    font-size: $type1;
    line-height: 1.25;
    margin-bottom: ($vr /1.5);

    @include md {
      font-size: $type0;
    }
  }

  &__form {
    font-size: $type-1;
    //width: 300px;
  }

  &__password {
    label {
      display: flex;
      justify-content: space-between;
    }

    a {
      color: $accent;
      font-weight: 300;
    }
  }

  &__img {
    margin: 0 auto;
    padding-bottom: $vr / 2;
    border-bottom: 1px dashed $primaryColor;

    &+button {
      margin-top: $vr / 2;
    }
  }

  .service-nav & {
    // display: none;
    width: 292px;
    z-index: 300;
    position: absolute;
    top: 45px;
    right: 16px;
    transition: transform 0.2s ease-in-out;
    @include box-shadow(5);
    @include theme-red;

    @include sm {}

    @include md {
      right: 0;
    }
  }



}

.arrow-up {
  display: none;

  .service-nav & {
    display: block;
    position: absolute;
    right: 8px;
    top: -12px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid $primaryColor;
  }
}