.form {

  input[type="text"],
  input[type="password"],
  input[type="checkbox"] {
    padding: 0.6rem 0.8rem;
    border: 1px solid #e1e1e1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.9rem;
    text-decoration: none;
    line-height: normal;
    // min-height: 3rem; //Opera fix

    &:focus {
      outline: none;
      color: green;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;

    &-orizzontal {
      flex-direction: row;
    }
  }
}




.login {
  display: none;

  &__title {
    font-size: 1.25rem;
  }

  &__form {
    //width: 300px;
  }

  @include sm {
    display: block;
  }
}