.member-application {
  &__stepper {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
    }
  }

  .step {
    margin: 0;
    cursor: pointer;
    font-family: $secondaryText;
    opacity: 0.5;

    &:not(:last-child) {
      margin-right: $gutter;
    }

    &__title {
      margin: 0;
    }

    &--is-selected {
      opacity: 1;
      border-bottom: 1px dashed $primaryColorOpaque;
    }
  }

  &__title {
    margin-top: $vr;
    margin-bottom: $vr;
    position: relative;
    font-weight: 300;
    font-size: $type3;

    &:after {
      @include title-line($primaryColor, 80px)
    }
  }

  &__subtitle {
    margin-top: $vr / 3;
    margin-bottom: $vr / 3;
    font-weight: 500;
    font-size: $type2;
  }

  &__form {

    margin-bottom: $vr;
    // border-bottom: 1px dashed $primaryColorOpaque;

    @include md {
      // width: 80%;

    }

    @include lg {
      // width: 50%;

    }

    &-grid {
      display: grid;
      grid-template-columns: 6fr 2fr 2fr 2fr;

      .col-2 {
        grid-column: 3 / 4;

        .member-application__stepper-controls & {

          // justify-self: end;
          button {
            width: 100%;
          }
        }
      }
    }
  }

  &__grid {}

  &__stepper-controls {

    // display: flex;
    // justify-content: space-between;
    // display: grid;
    // grid-template-columns: 6fr 2fr 2fr 2fr;
    margin-bottom: $vr * 2;

    @include md {
      // width: 80%;

    }

    @include lg {
      // width: 50%;

    }
  }

  .personal-photo {
    // margin-top: $vr * 2 ;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    border: 1px dashed $text;
    margin-bottom: $vr / 2;
    background-color: $neutralGray;

    i {
      font-size: $type5;
      color: inherit;
    }
  }
}

[contenteditable="true"] {
  background-color: #fff;
  padding: 5px;
  border: 1px solid gray;
  margin-top: $vr / 4 !important;
  font-style: italic;
  opacity: 0.6;

}