.bend {
  margin-top: 96.78px;

  width: 100%;
  background-color: $fascia1;
  background-image: url('./../img/intro2.jpg');
  background-repeat: no-repeat;
  background-position: 83% 83%;
  background-size: cover;
  height: 14.552rem;

  @include sm {
    margin-top: 194px;
  }
}

.intro {

  background-color: $fascia1;

  &__text {
    margin: 0 auto;
    text-align: center;
    font-size: 1.563rem;
    grid-column: 2 / 3;
    color: white;
    padding: 3.815rem 0;

    a {
      font-style: italic;

      &:hover,
      &:focus {
        color: $accento;
        text-decoration: underline;
      }
    }
  }

  @include sm {}
}