.junior {
  h2 {
    margin-top: $vr;
    margin-bottom: $vr;
    // margin-top: 0;
    // margin-bottom: $vr;
    position: relative;
    // margin-top: $vr;
    // margin-bottom: ($vr * 2);
    font-weight: 200;
    // color: white;

    &:after {
      content: ' ';
      display: inline-block;
      height: 2px;
      width: 100px;
      position: absolute;
      bottom: - (1rem / 3);
      left: 0;
      border-radius: 50px;
      background-color: $rosso;
    }
  }
}