.application-form {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.application {
  &__title {
    position: relative;
    font-weight: 300;
    margin: 0;
    font-size: $type2;
    margin-bottom: $vr;
    line-height: 1.4;

    &:after {
      @include title-line($primaryColor, 70px)
    }

    @include md {
      font-size: $type3;
    }
  }

  &__header {
    margin-bottom: $vr;



    @include md {
      margin-bottom: $vr * 2;

      .grid {
        display: grid;
        grid-template-columns: 10fr 2fr;
      }
    }

    p {
      font-size: $type0;
      margin: 0 0;

      @include md {
        font-size: $type1;
      }
    }
  }

  &__body {
    // display: grid;
  }
}

.criteria {
  align-items: center;
  padding: $vr $gutter;

  &:nth-child(odd) {

    @include theme-gray;
  }

  @include sm {
    display: grid;
    grid-template-columns: 10fr 2fr;

  }

  @include xl {
    margin-left: - $gutter;
    margin-right: - $gutter;
  }


  &__head {
    grid-column: 1 / 3;
    // display: grid;
    // grid-template-columns: auto auto;
    // align-items: center;
    // @include sm {
    //   font-size: 4rem;
    // }
  }

  &__title {
    margin: 0;
    font-size: $type1;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: $vr / 8;
    line-height: 1.2;
  }

  &__text {
    margin: 0;
    margin-bottom: $vr / 4;
    font-size: $type-1;

    &:not(:last-child) {
      margin-bottom: $vr / 8;
    }

    @include md {
      font-size: $type0;
    }

    @include lg {
      margin-bottom: $vr / 2;
    }
  }

  &__inserted-document {
    // width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: ($vr / 3) ($gutter / 3);
    margin: 0;
    font-size: $type-1;
    border-bottom: 1px dashed rgba(175, 43, 49, 0.8);

    p {
      margin: 0;
    }

    i {
      cursor: pointer;
      font-size: $type1;
      color: $primaryColor;
      transition: all 0.1s ease-in;

      &:hover,
      &:focus {
        color: darken($primaryColor, 15%);
        transform: scale(1.2);
      }
    }

  }

  &__form {
    grid-row: 2 / 3;

    @include md {}
  }

  &__score {
    font-size: $type-1;
    font-weight: 500;
    grid-row: 2 / 3;
    // grid-column: 2 / 3;
    margin: 0;
    line-height: 1.1;
    padding-left: $gutter / 2;
    color: $primaryColor;
    align-self: center;
    display: none;

    @include sm {
      border-left: 1px dotted rgba(175, 43, 49, 0.8);
      display: block;
      font-size: $type-1;
    }

    @include md {
      align-self: stretch;
      font-size: $type0;
    }

    @include lg {
      font-size: $type2;
    }

    @include xl {
      font-size: $type3;
    }



    p {
      margin: 0;
    }

    p+p {
      margin-top: $vr;
    }
  }
}

.score {
  @include theme-red;
  padding: ($vr / 2) ($gutter / 2);
  position: fixed;
  z-index: 10;
  bottom: 0;
  right: 0;
  // transform: translateX(-50%);
  // margin-bottom: $vr / 2;
  font-family: $secondaryText;
  width: 100%;

  // margin: $gutter;

  &__body {
    display: flex;
    align-items: center;
    // justify-content: flex-end;
    // justify-content: space-between;


  }

  &__points {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    >.score__text {
      color: $secondaryColor;
    }
  }

  &__title {
    margin: 0;
    font-weight: 500;
    font-size: $type2;
    // margin-left: auto;
  }

  &__text {
    margin: 0;
    font-weight: 500;
    font-size: $type2;
  }



  &__score {

    margin-left: 8px;
  }

  &__cta {
    display: block;
    text-align: center;
    margin-top: $vr / 2;
  }
}

#js-score-apply-button {
  margin-right: auto;
}

.toggle {
  display: none;
}