.personal-area {
  padding-top: 0 !important;
}

.secondary-navigation {
  @include theme-gray;

  @include md {
    display: none;
  }

  &__navbar {
    list-style: none;
    margin: 0;
    padding: 0;



  }
}