.constitution,
.history {

  h2,
  h3,
  h4 {
    margin: 0;
    font-weight: 400;
    position: relative;
    // left: - 1rem;


  }

  h2 {
    // font-size: 2.441rem;
    font-size: $type1;
    margin-bottom: $vr / 2;

    @include md {
      font-size: $type2;
      // margin-bottom: $vr / 2;
    }

    &:after {
      content: ' ';
      display: inline-block;
      height: 2px;
      width: 30px;
      position: absolute;
      bottom: -2px;
      left: 0;
      background-color: $rosso;
    }
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 700;

  }

  h4 {
    font-size: 1rem;
    font-weight: 700;

  }

  ul,
  ol {
    // list-style: none;
    margin: 0;
    padding: 0;
  }



  p,
  ul,
  ol {
    font-size: $type0;
    line-height: 1.4;
    margin: 0;

    @include md {
      padding-left: $gutter;
      font-size: $type1;
      line-height: 1.6;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  li {
    margin-left: $gutter;
  }

  p+p {

    margin-bottom: $vr;

    @include md {
      margin-bottom: $vr * 1.5;
    }




  }

  p+ul {
    margin-top: $vr / 4;

    @include md {

      margin-bottom: $vr / 2;
    }
  }

  .author {
    font-style: italic;
    margin-top: $vr;
    margin-bottom: $vr;
    font-size: 1rem;
  }

  &__grid {

    @include md {
      display: grid;
      grid-template-columns: 10fr 2fr;
    }

    .article {

      margin-bottom: $vr;

      @include md {
        grid-column: 1 / 2;
        margin-bottom: $vr * 2;
      }

      &:only-child {
        margin: 0;
      }

      .article {
        margin-bottom: 0;
      }
    }
  }
}