@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
  font-size: 18px;
  font-family: ff-meta-serif-web-pro, serif;
}

h1 {
  font-size: 3.815rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.563rem;
}

h4 {
  font-size: 1.25rem;
}

p {
  line-height: 1.5;
}