.under-construction {
  font-family: $secondaryText;
  text-align: center;

  &__grid {


    @include sm {
      // display: grid;
      // grid-template-columns: 7fr 5fr;
    }
  }

  &__title {
    font-size: $type2;
    font-weight: 300;
    margin-top: 0;
    line-height: 1;
    margin-bottom: $vr / 2;

    @include sm {
      font-size: $type5;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: $vr;

    a {
      color: $primaryColor;
    }

    @include sm {
      margin-bottom: $vr * 2;
    }
  }

  &__illustration {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primaryColor;
    font-size: $type5;

    @include sm {
      font-size: 15rem;
    }
  }
}