@import url('https://fonts.googleapis.com/css?family=Open+Sans');



$rosa: #F47274;
$rosso: #AF2B31;
$giallo: #FFE066;
$grigio0: #50514F;
$grigio1: #747474;
$grigio2: #9C9496;
$grigio3: #E3E3E2;
$blu1: #202C39;
$blu2: #283845;
$kaki: #B8B08D;
$rossoSecec: #ED1C24;

$rossoTemplate: #FF0000;
$grigioTemplate: #F5F5F5;
$grigioText1: #888;
$grigioText2: #777;
$grigioText3: #333;

$primaryColor: $rosso;
$secondaryColor: $blu1;
$neutralGray: lighten($grigio3, 6%);
$accent: $giallo;

$fascia1: $rosso;
$fascia2: $grigio3;
$fascia3: $blu1;
$accento: $blu1;
$accento2: $giallo;

$vr: 1.25rem;
$gutter: 1.953rem;

$secondaryText: ff-meta-web-pro,
sans-serif;
$primaryText: ff-meta-serif-web-pro,
serif;

$type5: 3.052rem;
$type4: 2.441rem;
$type3: 1.953rem;
$type2: 1.563rem;
$type1: 1.25rem;
$type0: 1rem;
$type-1: 0.8rem;
$type-2: 0.64rem;

h1 {
  font-size: 3.815rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.563rem;
}

h4 {
  font-size: 1.25rem;
}

p {
  line-height: 1.5;
}

@mixin themeRed {
  background-color: $primaryColor;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
}

@mixin themeBlue {
  background-color: $secondaryColor;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
}

@mixin themeGray {
  background-color: $neutralGray;
  color: rgba(66, 66, 66, 0.9);
  // text-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
}

@mixin themeWhite {
  background-color: white;
  color: rgba(66, 66, 66, 0.9);
  // text-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
}