@import url('https://fonts.googleapis.com/css?family=Open+Sans');



// $rosa: #F47274;
// $grigio0: #50514F;
// $grigio1: #747474;
// $grigio2: #9C9496;
// $blu2: #283845;
// $kaki: #B8B08D;
// $rossoSecec: #ED1C24;
// $rossoTemplate: #FF0000;
// $grigioTemplate: #F5F5F5;
// $grigioText1: #888;
// $grigioText2: #777;
// $grigioText3: #333;
$yellow: #FFE066;
$gray: #E3E3E2;
$red: #AF2B31;
$blue: #202C39;
$text: #424242;

$primaryColor: $red;
$primaryColorOpaque: rgba(175, 43, 49, 0.8);
$secondaryColor: $blue;
$accent: $yellow;
$neutralGray: lighten($gray, 6%);

$vr: 1.5rem;
$gutter: 1.953rem;

$secondaryText: ff-meta-web-pro,
sans-serif;
$primaryText: ff-meta-serif-web-pro,
serif;

$type5: 3.052rem;
$type4: 2.441rem;
$type3: 1.953rem;
$type2: 1.563rem;
$type1: 1.25rem;
$type0: 1rem;
$type-1: 0.8rem;
$type-2: 0.64rem;

h1 {
  font-size: $type5;
}

h2 {
  font-size: $type4;
}

h3 {
  font-size: $type2;
}

h4 {
  font-size: $type1;
}

p {
  line-height: 1.5;
}

@mixin theme-red {
  background-color: $primaryColor;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
}

@mixin theme-blue {
  background-color: $secondaryColor;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
}

@mixin theme-secondary-dark {
  background-color: darken($secondaryColor, 10%);
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
}



@mixin theme-gray {
  background-color: $neutralGray;
  color: rgba(66, 66, 66, 0.9);
}

@mixin theme-white {
  background-color: white;
  color: rgba(66, 66, 66, 0.9);
  // text-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
}

@mixin theme-accent {
  background-color: $accent;
  color: $secondaryColor;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
}

@mixin no-theme {
  background-color: transparent;
  color: inherit;
  text-shadow: none;
}

$z-indexes: (body: (),
header: (dropdown, dropdown-2nd, navbar),
modal: ());