$rosa: #F47274;
$rosso: #AF2B31;
$giallo: #FFE066;
$grigio0: #50514F;
$grigio1: #747474;
$grigio2: #9C9496;
$grigio3: #E3E3E2;
$blu1: #202C39;
$blu2: #283845;
$kaki: #B8B08D;
$rossoSecec: #ED1C24;

$rossoTemplate: #FF0000;
$grigioTemplate: #F5F5F5;
$grigioText1: #888;
$grigioText2: #777;
$grigioText3: #333;


$fascia1: $rosso;
$fascia2: $grigio3;
$fascia3: $blu1;
$accento: $blu1;
$accento2: $giallo;

$vr: 1.25rem;

$secondaryText: ff-meta-web-pro,
sans-serif;