@import '_base';
@import '_mixins';
@import '_tipography';

.wrapper {
  //display: flex;
}

.wrapper>div {
  background: #eee;
  padding: 1rem;
}

.wrapper>div:nth-child(odd) {
  background-color: #ddd;
}