@import "normalize.scss";
@import '_variables';
@import '_mixins';
// @import '_tipography';
@import '_base';

:root {
  font-size: 18px;
  font-family: $primaryText;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  min-width: 300px;


  @include sm {
    // padding: 0.328rem 0;
  }
}

section {
  padding: ($vr * 3) 0;
}

@mixin title-line($colore) {
  content: ' ';
  display: inline-block;
  height: 2px;
  width: 70px;
  position: absolute;
  bottom: -6px;
  left: 0;
  background-color: $colore;
}


/* Componenti
-------------- */
@import '_btn';
@import '_breadcrumb';
@import '_form';

@import '_bend';
@import '_header';
@import '_hero';
@import '_login';
@import '_card';
@import '_footer';


// Pagine
@import '_p_homepage';
@import '_p_society';
@import '_p_membership';
@import '_p_committees';
@import '_p_nationalDelegates';
@import '_p_ordinary-application';
@import '_p_junior-application';