<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    block personal
    block link
    link(rel="shortcut icon", href="./img/favicon.ico", type="image/x-icon")
    block headScript
  block body
  block bodyScript
  script(src="./js/headroom.js")
  script(src="./js/list.min.js")
  script(src="./js/index.js")

