.card
  img.card__img(src="https://via.placeholder.com/200", alt="", srcset="")
  h1.card__title Questo è il titolo
  p.card__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quidem vel commodi ullam incidunt provident consequuntur eveniet adipisci reprehenderit nam.