footer.footer.bend--theme-blue-dark 
  .container
    .footer__grid
      .col
        h3.footer__subtitle The Society
        p European Society for Surgery of the Shoulder and Elbow
      .col
        h3.footer__subtitle Headquarters
        p Sylvie Noel
        p 69 Boulevard des Canuts
        p 69004 Lyon
        p France
      .col  
        h3.footer__subtitle Contacts
        p <i class="fas fa-phone"></i>Phone: +33 683 178613
        p <i class="fas fa-envelope"></i>Email:  sececoffice@gmail.com
      .col.footer__sitemap  
        h3.footer__subtitle Sitemap
        ul
          li: a(href="costitution.html") The Constitution
          li: a(href="history.html") The History 
          li: a(href="committees.html") Committees
          li: a(href="national-delegates.html") Nationa Delegates
          li: a(href="members.html") Members    
          li: a(href="annual-congress.html") Annual Congress
          li: a(href="patronages-meetings.html") Patronages & Meetings
          li: a(href="fellowship.html") Fellowship
          li: a(href="learning.html") Video learning
          li: a(href="research.html") Research
          li: a(href="membership.html") Become a member