footer.footer.bend--color2
  .container.grid-footer
    .footer__info
      .div
        h3.footer__subtitle The Society
        p European Society for Surgery of the Shoulder and Elbow
      .div
        h3.footer__subtitle Headquarters
        p Sylvie Noel
        p 69 Boulevard des Canuts
        p 69004 Lyon
        p France
      .div  
        h3.footer__subtitle Contacts
        p <i class="fas fa-phone"></i>Tel:     + 33 683 17 86 13
        p <i class="fas fa-envelope"></i>Email:  sececoffice@gmail.com
      .div.footer__sitemap  
        h3.footer__subtitle Sitemap
        ul
          li: a The Society
          li: a The Congresses 
          li: a Education
          li: a Research
          li: a Membership
    //- .footer__sitemap