header.header#header
  include _service_nav.pug
  .container
    .navbar
      span.navbar__icon#hamburgher
        i.fas.fa-bars
        p Menu
      .logo
        a(href="./index.html")
          img.logo__img(src="./img/secec_logo.png")
        include _logotype.pug
      a(href="personal.html")
        span.navbar__icon
          i.fas.fa-user  
  include _primary_nav.pug