header.header
  include _service_nav.pug
  .navbar.container
    span.navbar__icon
      i.fas.fa-bars
    .logo
      a(href="./index.html")
        img.logo__img(src="./img/secec_logo.png")
      include _logotype.pug
    span.navbar__icon
      i.fas.fa-user  
  include _primary_nav.pug