nav.primaryNavigation(role="navigation")
  ul.primaryNavigation__navbar.container
    li.primaryNavigation__item the Society
      ul.dropdownMenu.toggle
        li
          a(href="./constitution.html") The Constitution
        li 
          a(href="./history.html") The History
        li 
          a(href="./committees.html") Commitees
        li 
          a(href="./national-delegates.html") National Delegates
        li 
          a(href="./members.html") Members
    li.primaryNavigation__item The Congresses
      ul.dropdownMenu.toggle
        li 
          a(href="./annual-congress.html") Annual Congress
        li
          a(href="./patronages-meetings.html") Patronages and Meetings
    li.primaryNavigation__item Education
      ul.dropdownMenu.toggle
        li
          a(href="./fellowship.html") Fellowship
        li
          a(href="./learning.html") Video learning
    li.primaryNavigation__item
      a(href="#") Research
    li.primaryNavigation__item.primaryNavigation__item--highlight
      a(href="./membership.html") Secec/ESSSE congress 2018
    li.primaryNavigation__item
      a(href="./membership.html") Become a member   