nav.primaryNavigation(role="navigation")
  ul.primaryNavigation__navbar.container
    li.primaryNavigation__item the Society
      ul.dropdownMenu.toggle
        li
          a(href="./society.html") The Constitution
        li 
          a(href="./history.html") The History
        li 
          a(href="./commitees.html") Commitees
        li 
          a(href="./society.html") National Delegates
        li 
          a(href="./society.html") Members
    li.primaryNavigation__item The Congresses
      ul.dropdownMenu.toggle
        li Annual Congress
        li Patronages and Meetings
        li Calendar
    li.primaryNavigation__item Education
      ul.dropdownMenu.toggle
        li Fellowship
        li Video learning
    li.primaryNavigation__item
      a(href="#") Research
    li.primaryNavigation__item.btn
      a(href="./membership.html") Become a member  