nav.primaryNavigation(role="navigation")
  ul.primaryNavigation__navbar.container
    li.primaryNavigation__item the Society
      ul.dropdownMenu.toggle
        li
          a(href="./society.html") The Constitution
        li 
          a(href="./history.html") The History
        li 
          a(href="./committees.html") Commitees
        li 
          a(href="./society.html") National Delegates
        li 
          a(href="./society.html") Members
    li.primaryNavigation__item The Congresses
      ul.dropdownMenu.toggle
        li 
          a(href="./society.html") Annual Congress
        li
          a(href="./society.html") Patronages and Meetings
        li
          a(href="./society.html") Calendar
    li.primaryNavigation__item Education
      ul.dropdownMenu.toggle
        li
          a(href="./society.html") Fellowship
        li
          a(href="./society.html") Video learning
    li.primaryNavigation__item
      a(href="#") Research
    li.primaryNavigation__item.primaryNavigation__item--highlight
      a(href="./membership.html") Secec/ESSSE congress 2018
    li.primaryNavigation__item
      a(href="./membership.html") Become a member   