nav.primary-navigation(role="navigation")#primary-nav
  ul.primary-navigation__navbar.container
    li.primary-navigation__item the Society<i class="fas fa-caret-right"></i>
      ul.dropdown-menu.js-toggle
        li
          a(href="./constitution.html") The Constitution
        li 
          a(href="./history.html") The History
        li 
          a(href="./committees.html") Commitees
        li 
          a(href="./national-delegates.html") National Delegates
        li 
          a(href="./members.html") Members
    li.primary-navigation__item The Congresses<i class="fas fa-caret-right"></i>
      ul.dropdown-menu.js-toggle
        li 
          a(href="./annual-congress.html") Annual Congress
        li
          a(href="./patronages-meetings.html") Patronages and Meetings
    li.primary-navigation__item Education<i class="fas fa-caret-right"></i>
      ul.dropdown-menu.js-toggle
        li
          a(href="./fellowship.html"): span Fellowship
        li
          a(href="./learning.html"): span Video learning
    li.primary-navigation__item
      a.primary-navigation__first-level-link(href="blog.html"): span Blog
    li.primary-navigation__item.primary-navigation__item--highlight
      a.primary-navigation__first-level-link(href="http://emma.events/secec2018.html"): span Secec/ESSSE congress 2019
    li.primary-navigation__item
      a(href="./membership.html"): span Become a member   