section.bend.bend--theme-red
  .container
    .under-construction
      .under-construction__grid
        .col-1
          h1.under-construction__title Section under costruction
          p.under-construction__text For more information please <a href="#">contact Website Committee' Mario Borroni</a>
        .col-2
          .under-construction__illustration
            <i class="fas fa-hammer"></i>