extends _base.pug
block personal
  meta(name="description", content="")
  title Nuovo titolo
block link
  link(href="./css/main.css", rel="stylesheet")
  link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.5.0/css/all.css", integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU", crossorigin="anonymous")
  link(rel="stylesheet", href="https://use.typekit.net/ngl1jlg.css")
block body
  body
    include _header.pug
    section.hero.bend--theme-red
      .container
        .hero__grid
          .hero__text
            ul.breadcrumb
              li 
                a(href="index.html") Home
              li The Congresses 
              li
                a(href="annual-congress") Annual Congress
            h1.hero__title Secec Annual Congress
    include _under-construction.pug        
    include _footer.pug  