extends _base.pug
block personal
  meta(name="description", content="")
  title Nuovo titolo
block link
  link(href="./css/main.css", rel="stylesheet")
  link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.5.0/css/all.css", integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU", crossorigin="anonymous")
  link(rel="stylesheet", href="https://use.typekit.net/ngl1jlg.css")
block body
  body
    include _header.pug
    .hero.bend--theme-blue
      .container
        .hero__grid
          .hero__text
            ul.breadcrumb
              li 
                a(href="./index.html") Home
              li Application Form
            h1.hero__title Application Form
    section.junior
      .container      
        form.form.application-form
          h2 Personal
          .form__group
            label(for="firstname") Firstname
            input(type="text", name="firstname", id="firstname")
          .form__group
            label(for="surname") Surname
            input(type="text", name="surname", id="surname")
          .form__group  
            label(for="email") Email
            input(type="email", name="email", id="email")
          .form__group   
            label(for="email") Title
            input(type="email", name="email", id="email")
          .form__group   
            label(for="email") Gender
            input(type="email", name="email", id="email")
          .form__group   
            label(for="email") Date Of Birth(MM/DD/YYYY)
            input(type="email", name="email", id="email")
          .form__group   
            label(for="email") Nationality
            input(type="email", name="email", id="email")
          .form__group   
            label(for="email") In which country are you applying
            input(type="email", name="email", id="email")
          .form__group   
            label(for="firstname") Address 1	
            input(type="text", name="firstname")
          .form__group   
            label(for="firstname") Zip Code	
            input(type="text", name="firstname")
          .form__group   
            label(for="firstname") City	
            input(type="text", name="firstname")
          .form__group   
            label(for="firstname") Country	
            input(type="text", name="firstname")
          .form__group   
            label(for="firstname") Phone	
            input(type="text", name="firstname")
          .form__group   
            label(for="firstname") Mobile	
            input(type="text", name="firstname")
          h2 Hospital
          .form__group 
            label(for="firstname") Hospital/Company name
            input(type="text", name="firstname")
          .form__group   
            label(for="firstname") Department
            input(type="text", name="firstname")
          .form__group   
            label(for="firstname") Clinical Position	
            input(type="text", name="firstname")
          .form__group   
            label(for="firstname") Address 1	
            input(type="text", name="firstname")
          .form__group   
            label(for="firstname") Zip Code	
            input(type="text", name="firstname")
          .form__group   
            label(for="firstname") City	
            input(type="text", name="firstname")
          .form__group   
            label(for="firstname") Country	
            input(type="text", name="firstname")
          .form__group   
            label(for="firstname") Phone	
            input(type="text", name="firstname")
          .form__group   
            label(for="firstname") Fax	
            input(type="text", name="firstname")
          .form__group   
            label(for="firstname") Email	
            input(type="text", name="firstname")