extends _base.pug
block personal
  meta(name="description", content="")
  title Nuovo titolo
block link
  link(href="./css/main.css", rel="stylesheet")
  link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.5.0/css/all.css", integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU", crossorigin="anonymous")
  link(rel="stylesheet", href="https://use.typekit.net/ngl1jlg.css")
block body
  body
    include _header.pug
    .hero.hero--small.bend--theme-blue
      .container
        .hero__grid
          .hero__text
            ul.breadcrumb
              li 
                a(href="index.html") Home
              li
                a(href="application.html") Application Form
            h1.hero__title Application Form
    .bend--theme-red
      .container
        .sub-hero
          p.sub-hero__text Becoming a member of our association will bring <a class="sub-hero__link" href="#">noumerous benefits and perks</a>.        
    section.member-application
      .container
        nav.member-application__stepper
          ul#tabMenu
            li.step.step--is-selected(data-tab="1")
              p.step__title General info
            li.step(data-tab="2")
              p.step__title Addresses
            li.step(data-tab="3")
              p.step__title Documents       
        form.form.member-application__form#tabMain
          .member-application__form-tab(data-tab="1")
            h2.member-application__title General Info
            .member-application__form-grid
              .col-1
                .form__group   
                  label(for="title") Title
                  select.form__element--very-short(name="title", id="title")
                    option(value="Doc") Doc
                    option(value="Professor") Professor
                .form__group
                  label(for="firstname") First name
                  input(type="text", name="firstname", id="firstname")
                .form__group
                  label(for="lastname") Last name
                  input(type="text", name="lastname", id="lastname")
                .form__group  
                  label(for="email") Email
                  input(type="email", name="email", id="email")  
                .form__group   
                  label(for="birthday") Date Of Birth <span class="form__validation-message form__validation-message--info">(MM/DD/YYYY)</span>
                  input.form__element--short(type="text", name="birthday", id="birthday")
                .form__group   
                  label(for="nationality") Nationality
                  input.form__element--short(type="text", name="nationality", id="nationality")
                .form__group   
                  label(for="phone") Phone	
                  input.form__element--short(type="text", name="phone")     
              .col-2
                .form__group
                  label(for="firstname") Photo profile
                  .personal-photo
                    <i class="fas fa-file-upload"></i>
                    //- img(src="./img/ale.png")
                  button.btn.btn--hollow Upload a photo
                  p.form__validation-message.form__validation-message--info  Preferable format: 250x250
                  //- 	
                  //- input(type="text", name="firstname")               
          .member-application__form-tab(data-tab="2").toggle
            h2.member-application__title Addresses
            .member-application__form-grid
              .col-1
                .member-application__address
                  h3.member-application__subtitle Main address
                  .form__group   
                    label(for="address") Address	
                    input(type="text", name="address")
                  .form__group   
                    label(for="city") City	
                    input.form__element--medium(type="text", name="city")
                  .form__group   
                    label(for="firstname") Zip Code	
                    input.form__element--short(type="text", name="firstname")
                  .form__group   
                    label(for="country") Country	
                    input.form__element--medium(type="text", name="country")
                  .form__group.form__group--orizzontal
                    input(type="checkbox", name="", checked)#second-address-btn  
                    label(for="country") Do you want your mail and JSES magazine issue to be sent at this address?
                .member-application__address.toggle#second-address
                  h3.member-application__subtitle Second address
                  .form__group   
                    label(for="address") Address	
                    input(type="text", name="address")
                  .form__group   
                    label(for="city") City	
                    input.form__element--medium(type="text", name="city")
                  .form__group   
                    label(for="firstname") Zip Code	
                    input.form__element--short(type="text", name="firstname")
                  .form__group   
                    label(for="country") Country	
                    input.form__element--medium(type="text", name="country")    
          .member-application__form-tab(data-tab="3").toggle
            h2.member-application__title Documents
            .member-application__form-grid
              .col-1
                .form__group   
                  label(for="cv") CV
                  .form__control
                      input(type="text", name="cv")
                      button.btn.btn--hollow Add doc	
                .form__group   
                  label(for="motivational") Motivational Letter
                  .form__control
                      input(type="text", name="motivational")
                      button.btn.btn--hollow Add doc
                .form__group   
                    label(for="sponsor") Sponsor Letter
                    .form__control
                      input(type="text", name="sponsor")
                      button.btn.btn--hollow Add doc
              .col-2
                p.form__validation-message.form__validation-message--info Be sure to insert this information on the CV: University attended (TO DEFINE)
                p.form__validation-message.form__validation-message--info For the sposor letter be sure to contact your sponsor (TO DEFINE)
                p.form__validation-message.form__validation-message--info The documents needs to be in a PDF format (<a href="#">Need help?</a>)
        .member-application__stepper-controls
            .member-application__form-grid
              .col-1
                button.btn.btn--neutral(value="Previous") Previous
              .col-2
                button.btn.btn--primary(value="Next") Next    
    include _footer.pug        