extends _base.pug
block personal
  meta(name="description", content="")
  title Nuovo titolo
block link
  link(href="./css/main.css", rel="stylesheet")
  link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.5.0/css/all.css", integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU", crossorigin="anonymous")
  link(rel="stylesheet", href="https://use.typekit.net/ngl1jlg.css")
block body
  body
    include _header.pug
    .hero.hero--small.bend--theme-blue
      .container
        .hero__grid
          .hero__text
            ul.breadcrumb
              li 
                a(href="index.html") Home
              li
                a(href="application.html") Application Form
            h1.hero__title Application Form
    .bend--theme-red
      .container
        .sub-hero
          p.sub-hero__text Becoming a member of our association will bring <a class="sub-hero__link" href="#">noumerous benefits and perks</a>.        
    section.member-application
      .container
        nav.member-application__stepper
          ul#tabMenu
            li.step.step--is-selected(data-tab="1")
              p.step__title General info
            li.step(data-tab="2")
              p.step__title Addresses
            li.step(data-tab="3")
              p.step__title Contacts
            li.step(data-tab="4")
              p.step__title Hospitals
            li.step(data-tab="5")
              p.step__title Documents       
        form.form.member-application__form#tabMain
          .member-application__form-tab(data-tab="1")
            h2.member-application__title General Info
            .form__group
              label(for="firstname") Firstname
              input(type="text", name="firstname", id="firstname")
            .form__group
              label(for="surname") Surname
              input(type="text", name="surname", id="surname")
            .form__group   
              label(for="email") Date Of Birth(MM/DD/YYYY)
              input(type="email", name="email", id="email") 
            .form__group   
              label(for="email") Title
              input(type="email", name="email", id="email")   
            .form__group   
              label(for="email") Gender
              input(type="email", name="email", id="email")
          .member-application__form-tab(data-tab="2").toggle
            h2.member-application__title Addresses
            .form__group   
              label(for="email") Nationality
              input(type="email", name="email", id="email")
            .form__group   
              label(for="firstname") Address 1	
              input(type="text", name="firstname")
            .form__group   
              label(for="firstname") Zip Code	
              input(type="text", name="firstname")
            .form__group   
              label(for="firstname") City	
              input(type="text", name="firstname")
            .form__group   
              label(for="firstname") Country	
              input(type="text", name="firstname")  
          .member-application__form-tab(data-tab="3").toggle
            h2.member-application__title Contacts
            .form__group  
              label(for="email") Email
              input(type="email", name="email", id="email")
            .form__group   
              label(for="firstname") Phone	
              input(type="text", name="firstname")
            .form__group   
              label(for="firstname") Mobile	
              input(type="text", name="firstname")
          .member-application__form-tab(data-tab="4").toggle
            h2.member-application__title Hospitals
            .form__group 
              label(for="firstname") Hospital/Company name
              input(type="text", name="firstname")
            .form__group   
              label(for="firstname") Department
              input(type="text", name="firstname")
            .form__group   
              label(for="firstname") Clinical Position	
              input(type="text", name="firstname")
            .form__group   
              label(for="firstname") Address 1	
              input(type="text", name="firstname")
            .form__group   
              label(for="firstname") Zip Code	
              input(type="text", name="firstname")
            .form__group   
              label(for="firstname") City	
              input(type="text", name="firstname")
            .form__group   
              label(for="firstname") Country	
              input(type="text", name="firstname")
            .form__group   
              label(for="firstname") Phone	
              input(type="text", name="firstname")
            .form__group   
              label(for="firstname") Fax	
              input(type="text", name="firstname")
            .form__group   
              label(for="firstname") Email	
              input(type="text", name="firstname") 
          .member-application__form-tab(data-tab="5").toggle
            h2.member-application__title Documents
            .form__group   
              label(for="firstname") CV	
              input(type="text", name="firstname")
            .form__group   
              label(for="firstname") Foto	
              input(type="text", name="firstname")
            .form__group   
              label(for="firstname") Motivational Letter	
              input(type="text", name="firstname")
            .form__group   
              label(for="firstname") Sponsor Letter	
              input(type="text", name="firstname")      
        .member-application__stepper-controls
          button.btn.btn--neutral(value="Previous") Previous
          button.btn.btn--secondary(value="Next") Next
    include _footer.pug        