extends _base.pug
block personal
  meta(name="description", content="")
  title Nuovo titolo
block link
  link(href="./css/main.css", rel="stylesheet")
  link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.5.0/css/all.css", integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU", crossorigin="anonymous")
  link(rel="stylesheet", href="https://use.typekit.net/ngl1jlg.css")
block body
  body
    include _header.pug
    section.bend.bend--color1
      .container
        .bend__grid
          .bend__text
            ul.breadcrumb
              li 
                a(href="#") Home
              li
                a(href="#") The Society  
              li
                a(href="#") Committees
            h1 List of the European Society for Surgery of the Shoulder and Elbow's committees
    section.committees
      .container
        .committees__grid
          .committee
            h2.committee__type Executive Committee
            .committee__vipMembers
              .committee__member
                p.committee__role President
                .committee__info
                  p Nome e Cognome
                  p Nazionalità
            .committee__members
              p Members
              .committee__member
                .committee__info
                  p Nome e Cognome
                  p Nazionalità
          .committee
            h2.committee__type Education Committee
            .committee__vipMembers
              .committee__member
                p.committee__role President
                .committee__info
                  p Nome e Cognome
                  p Nazionalità
            .committee__members
              p Members
              .committee__member
                .committee__info
                  p Nome e Cognome
                  p Nazionalità
    include _footer.pug                         
          