extends _base.pug
block personal
  meta(name="description", content="")
  title Nuovo titolo
block link
  link(href="./static/css/main.css", rel="stylesheet")
block body
  body
    h1 Questo è un titolo di prova
    .wrapper
      div Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis itaque iure quae voluptas ab, ratione soluta veritatis maiores iusto quaerat laudantium sapiente laborum, autem rerum consequuntur at facilis tempore? Unde? <a href="./new.html">Nuova</a>
      div Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde facilis obcaecati eveniet tenetur nemo quaerat harum, enim nostrum, totam, pariatur quidem? Quam delectus unde vel quas quasi sapiente itaque facere!
      div Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, sint? Magnam, numquam porro sapiente eum consequatur reprehenderit, autem id maiores asperiores fuga placeat quo eius dolorum labore, impedit laborum cum.
      div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam minus optio eveniet accusamus placeat quas laboriosam distinctio eius! Eum repellat perferendis itaque maiores omnis! Fuga repellendus alias et illo assumenda?
