extends _base.pug
block personal
  meta(name="description", content="")
  title Nuovo titolo
block link
  link(href="./static/css/main.css", rel="stylesheet")
block body
  body
    include _primary_nav.pug
    
      
      
