extends _base.pug
block personal
  meta(name="description", content="")
  title Nuovo titolo
block link
  link(href="./css/main.css", rel="stylesheet")
  link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.5.0/css/all.css", integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU", crossorigin="anonymous")
  link(rel="stylesheet", href="https://use.typekit.net/ngl1jlg.css")
block body
  body
    include _header.pug
    section.hero.hero--no-text.homepage-hero-image
    section.introduction
      .container
        .introduction__grid
          .introduction__text
            p Our association provide for <a href="#">scientific cooperation</a> and <a href="#">continuing training</a> of European orthopaedic surgeons specialized in surgery of the shoulder and elbow in order to contribute to the development of the physiological, pathological and therapeutic study of those joints.     
          section.login
            h2.login__title Access to the private members' area
            form.form.login__form
              .form__group.form__group--vertical
                label(for="username") Username
                input(type="text", name="username", id="username")
              .form__group.form__group--vertical.login__password  
                label(for="password") Password<a href="#">Forgot password?</a>
                input(type="password", name="password")
              .form__group.form__group--orizzontal  
                input(type="checkbox", name="ricordami")
                label(for="ricordami") Remember me
              input#login.btn(type="submit", value="Accedi")
    section.membership
      .container
        h2.membership__title Become a member of our society
        p.membership__text Our members can access a weathy numbers of top quality research and training video, also you will be able to obtain access to the largest network of professionals in Europe.You will granted access to our fellowhip and improve your knowledge and you ranks among your peers.
        .membership__grid
          .card.card--small
            h4.card__title E-learning
            p.card__description Access SECEC educational podcasts and meet the experts
            button.btn.btn--void Discover
          .card.card--small
            h4.card__title Fellowhip
            p.card__description Apply for fellowship all over the world 
            button.btn.btn--void Discover
          .card.card--small
            h4.card__title Research
            p.card__description Awards and grants to push forward your work and career 
            button.btn.btn--void Discover
          .card.card--small
            h4.card__title JSES
            p.card__description Free subscription to our magazine with all the latest news 
            button.btn.btn--void Discover
          .card.card--small.card--cta
            h4.card__title Apply today
            p.card__description *In order to apply for SECEC / ESSE membership you'll need to fulfill our requirements
            button.btn: a(href="membership.html") Apply
    section.congresses.congress-image
      .container
        .main-congress
          h2.main-congress__title 28th SECEC/ESSSE Annual Congress
          .main-congress__info
            p.main-congress__location <i class="fas fa-map-marker-alt"></i> Geneve (Switzerland)
            p.main-congress__date <i class="fas fa-calendar-alt"></i>19-22 September 2018
          p.main-congress__description Talks and other features, the congress will take place in the iconic and luxurious CICG convenniently located just off the Place des Nations (UN) and within easy reach of the city center.
          p.main-congress__CTA <a class="btn btn--void" href="emma.events/secec2018">visit the congress' official site and register!</a>
      section.others-congresses
        .container.grid-others-congresses
          .others-congresses__congress
            h3.others-congresses__title ICSES Congress 2019
            .others-congresses__info
              p <i class="fas fa-map-marker-alt"></i>Buenos Aires
              p <i class="fas fa-calendar-alt"></i>17-20 September 2019
            p.others-congresses__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, amet rerum nihil fuga sunt reprehenderit quaerat. Aliquam molestias ut quasi?
            p.others-congresses__CTA <a class="btn btn--void" href="#">more info</a>  
          .others-congresses__congress
            h3.others-congresses__title SECEC Closed Meeting 2019
            .others-congresses__info 
              p <i class="fas fa-map-marker-alt"></i>Copenhagen
              p <i class="fas fa-calendar-alt"></i>(17-20 September 2019)
            p.others-congresses__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, amet rerum nihil fuga sunt reprehenderit quaerat. Aliquam molestias ut quasi?
            p.others-congresses__CTA <a class="btn btn--void" href="#">more info</a>
    section.news-section
      .container
        h2.news-section__title News & Communications
      .container
        .news__grid
          .news
            img.news__img(src="./img/secec_community.jpg")
            p.news__date <i class="fas fa-calendar-alt"></i> 20/08/2018
            .news__body
              h3.news__title Registry Committee Newsletter
              p.news__description Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              a.btn.btn--red.news__cta Read the news 
          .news
            img.news__img(src="./img/intro2.jpg")
            p.news__date <i class="fas fa-calendar-alt"></i> 20/08/2018
            .news__body
              h3.news__title Registry Committee Newsletter
              p.news__description Lorem ipsum dolor, sit amet 
              a.btn.btn--red.news__cta  Read the news
          .news
            img.news__img(src="./img/secec_community.jpg")
            p.news__date <i class="fas fa-calendar-alt"></i> 20/08/2018
            .news__body 
              h3.news__title Notizia con il titolo più lungo
              p.news__description Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores, eligendi?
              a.btn.btn--red.news__cta Read the news   
    section.patronages-section
      .container
        h2.patronages-section__title Patronages & Other meetings
        p.patronages-section__description The European Society is sponsoring European congresses, meetings and courses devoted to shoulder and/or elbow surgery.
        .patronages.patronages__grid
          .patronage.card
            .patronage__title.card__title 13th Hanover Arthroscopy and Arthroplasty Course
            .patronage__place <i class="fas fa-map-marker-alt"></i> Hanover, Germany
            .patronage__date <i class="fas fa-calendar-alt"></i> November 9. - 10., 2018
            .patronage__info <i class="fas fa-info-circle"></i> More info on www.arthroskopiekurs-hannover.de
          .patronage.card
            .patronage__title.card__title International Shoulder Safari
            .patronage__place <i class="fas fa-map-marker-alt"></i> Israel
            .patronage__date <i class="fas fa-calendar-alt"></i> November 11-18, 2018
            .patronage__info <i class="fas fa-info-circle"></i> More info on www.shouldersafari.com
          .patronage.card
            .patronage__title.card__title International Shoulder Safari
            .patronage__place <i class="fas fa-map-marker-alt"></i> Israel
            .patronage__date <i class="fas fa-calendar-alt"></i> November 11-18, 2018
            .patronage__info <i class="fas fa-info-circle"></i> More info on www.shouldersafari.com
          .patronage.card
            .patronage__title.card__title International Shoulder Safari
            .patronage__place <i class="fas fa-map-marker-alt"></i> Israel
            .patronage__date <i class="fas fa-calendar-alt"></i> November 11-18, 2018
            .patronage__info <i class="fas fa-info-circle"></i> More info on www.shouldersafari.com
          .patronage.card
            .patronage__title.card__title International Shoulder Safari
            .patronage__place <i class="fas fa-map-marker-alt"></i> Israel
            .patronage__date <i class="fas fa-calendar-alt"></i> November 11-18, 2018
            .patronage__info <i class="fas fa-info-circle"></i> More info on www.shouldersafari.com
          .patronage.card
            .patronage__title.card__title International Shoulder Safari
            .patronage__place <i class="fas fa-map-marker-alt"></i> Israel
            .patronage__date <i class="fas fa-calendar-alt"></i> November 11-18, 2018
            .patronage__info <i class="fas fa-info-circle"></i> More info on www.shouldersafari.com
        .patronages-section__pagination
          p <a href="patronages-meetings.html">Discover other SECEC patronages and other meetings</a>   
    section.president-message
      .container
        h2.president-message__title The annual message from our President Roger Emery
        .president-message__grid
          img.president-message__img(src="./img/secec-president-2018.png")
          p.president-message__text I hope you are enjoying the hottest European summer on record, and looking forward to early autumn on Lake Geneva. The 28th Congress will be, as usual, a scientific meeting of the highest quality, and a wonderful opportunity for communication.
            a(href="president-message.html").president-message__cta.btn.btn--void Read the rest
    include _footer.pug            
          
           
    //- section.presidentMessage
    //-   h2 The annual message from our President Roger Emery
    //-   img(src="./img/secec-president-2018.png")
    //-   p I hope you are enjoying the hottest European summer on record, and looking forward to early autumn on Lake Geneva. The 28th Congress will be, as usual, a scientific meeting of the highest quality, and a wonderful opportunity for communication. A return to Switzerland, the home of so many of our contributors and in particular our co-founder Norbert Gschwend, is always a pleasure; and the venue of Geneva is an ideal location as it is a cradle of so many NGOs and an exemplar of what Europe can achieve through active co-operation. Our major theme will be health economics with a focus on how we deliver treatment to our patients, and on how we ensure effectiveness with respect to both outcomes and healthcare costs. We need to evaluate how our scientific output changes our clinical.practice . Once again we have included technology not only for current procedures but also to understand what is available and how it could potentially change our discipline.
    
      
      
