extends _base.pug
block personal
  meta(name="description", content="")
  title Nuovo titolo
block link
  link(href="./static/css/main.css", rel="stylesheet")
block body
  body
    h1 Junior membership application form
    form.application-form
      h2 Personal
      label(for="firstname") Firstname
      input(type="text", name="firstname", id="firstname")
      label(for="surname") Surname
      input(type="text", name="surname", id="surname")
      label(for="email") Email
      input(type="email", name="email", id="email")
      label(for="email") Title
      input(type="email", name="email", id="email")
      label(for="email") Gender
      input(type="email", name="email", id="email")
      label(for="email") Date Of Birth(MM/DD/YYYY)
      input(type="email", name="email", id="email")
      label(for="email") Nationality
      input(type="email", name="email", id="email")
      label(for="email") In which country are you applying
      input(type="email", name="email", id="email")
      label(for="firstname") Address 1	
      input(type="text", name="firstname")
      label(for="firstname") Zip Code	
      input(type="text", name="firstname")
      label(for="firstname") City	
      input(type="text", name="firstname")
      label(for="firstname") Country	
      input(type="text", name="firstname")
      label(for="firstname") Phone	
      input(type="text", name="firstname")
      label(for="firstname") Mobile	
      input(type="text", name="firstname")
      h2 Hospital
      label(for="firstname") Hospital/Company name
      input(type="text", name="firstname")
      label(for="firstname") Department
      input(type="text", name="firstname")
      label(for="firstname") Clinical Position	
      input(type="text", name="firstname")
      label(for="firstname") Address 1	
      input(type="text", name="firstname")
      label(for="firstname") Zip Code	
      input(type="text", name="firstname")
      label(for="firstname") City	
      input(type="text", name="firstname")
      label(for="firstname") Country	
      input(type="text", name="firstname")
      label(for="firstname") Phone	
      input(type="text", name="firstname")
      label(for="firstname") Fax	
      input(type="text", name="firstname")
      label(for="firstname") Email	
      input(type="text", name="firstname")