extends _base.pug
block personal
  meta(name="description", content="")
  title Nuovo titolo
block link
  link(href="./css/main.css", rel="stylesheet")
  link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.5.0/css/all.css", integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU", crossorigin="anonymous")
  link(rel="stylesheet", href="https://use.typekit.net/ngl1jlg.css")
block body
  body
    include _header.pug
    section.hero.bend--theme-red
      .container
        .hero__grid
          .hero__text
            ul.breadcrumb
              li 
                a(href="index.html") Home
              li The Society  
              li
                a(href="members.html") Members
            h1.hero__title Members of the European Society for Surgery of the Shoulder and the Elbow
    section
      .container
        .members#members
          h2.members__title Search a member by name or nation
          input.fuzzy-search.members__search(type="text", placeholder="Search")
          .members__sort
            button.btn.btn--hollow.sort(data-sort="nation") Sort by Nation
            button.btn.btn--hollow.sort(data-sort="name") Sort by Surname
          ul.list.members__list
            li.member
              p.name.member__name Alessandro Curcu
              p.nation.member__nation Italy
            li.member
              p.name.member__name  Giorgio Poi
              p.nation.member__nation  England  
            li.member
              p.name.member__name  Anna Swarowski
              p.nation.member__nation Italy
            li.member
              p.name.member__name  Lorenzo Fogarolli
              p.nation.member__nation England            
    include _footer.pug  