extends _base.pug
block personal
  meta(name="description", content="")
  title Nuovo titolo
block link
  link(href="./css/main.css", rel="stylesheet")
block body
  body
    include _primary_nav.pug
    section.application
      header.application__head
        h1 Ordinary membership application form
        p  In order to become ad Ordinary Member you have to have obatined a certain degree of success in the field. To evaluate your achievements we have designed a point grade system: if you score is 30 points or above you're eligible to become an Ordinary Member.
        p All the information that you will provide below will be checked by our scientific commitee: be accurate.
      main.application__body
        .application__section
          .application__head
            h2 Published articles
            p Articles in which you were involved published in journals referenced in the Index Medicus will grant you 5 points for each article
          form.application__upload
            input(type="text", name="")
            button Add article
          p.application__score +5  
        .application__section 
          .application__head   
            h2 SECEC / ICSS meetings attended
            p SECEC / ESSSE meetings and ICSS you attended (will be   checked): 1 point for all authors
          form.application__upload  
            input(type="text", name="")
            button add meeting
          p.application__score +5
        .application__section
          .application__head 
            h2 Oral presentation
            p oral presentations at SECEC / ESSSE congresses or   ICSS: 3 points for all authors
          form.application__upload  
            input(type="text", name="")
            button add presentation
          p.application__score +5   
        .application__section
          .application__head  
            h2 Poster presentation
            p poster presentations at SECEC / ESSSE congresses or   ICSS: 2 points for all authors
          form.application__upload
            input(type="text", name="")
            button add presentation
          p.application__score +5   
        .application__section
          .application__head 
            h2 Oral international presentation
            p oral presentations you made or participated in at   international congresses devoted to shoulder and elbow:   2 points for all authors
          form.application__upload  
            input(type="text", name="")
            button add presentation
          p.application__score +5   
        .application__section
          .application__head  
            h2 Book chapter
            p book chapters you participated in dealing with shoulder and elbow: 5 points for all authors
          form.application__upload  
            input(type="text", name="")
            button add chapter
          p.application__score +5   
        .application__section
          .application__head 
            h2 Awards
            p SECEC / ESSSE awards you received
          ul
            li - Didier Patte Prize: 10 points becomes ex officio Ordinary Members
            li - Best Paper Prize: 3 points for all authors
            li - Best Poster Prize: 2 points for all authors
          form.application__upload  
            input(type="text", name="")
            button add award
          p.application__score +5
        .application__section
          .application__head  
            h2 Fellowship
            p SECEC fellowships: 12 points
          form.application__upload  
            input(type="text", name="")
            button add fellowship
          p.application__score +5
          ul
            li fellows selected to the Intra European travelling fellowship become ex officio Associate Members
            li fellows selected to the Europe / USA  or  Europe / Japan travelling fellowship become ex officio Ordinary Member
    