extends _base.pug
block personal
  meta(name="description", content="")
  title Nuovo titolo
block link
  link(href="./css/main.css", rel="stylesheet")
  link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.5.0/css/all.css", integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU", crossorigin="anonymous")
  link(rel="stylesheet", href="https://use.typekit.net/ngl1jlg.css")
block body
  body
    include _header.pug
    .hero.hero--small.bend--theme-red
      .container
        .hero__grid
          .hero__text
            ul.breadcrumb
              li 
                a(href="./index.html") Home
              li Personal Area
            h1.hero__title Benvenuto Alessandro
    section.personal-area      
      .personal-area__grid
        aside.secondary-navigation
          nav
            ul.secondary-navigation__navbar
              li: span Demographics
                ul
                  li Name & Demographics
                  li Manage Addresses
                  li Username & Password
                  li Biography
              li: span Membership
                ul
                  li My committees
              li: span Communication
                ul
                  li Contact Information
                  li Emergency Contact      
        main.informations
          .information
            h2.information__title Demographics   