extends _base.pug
block personal
  meta(name="description", content="")
  title Nuovo titolo
block link
  link(href="./css/main.css", rel="stylesheet")
  link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.5.0/css/all.css", integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU", crossorigin="anonymous")
  link(rel="stylesheet", href="https://use.typekit.net/ngl1jlg.css")
block body
  body
    include _header.pug
    .hero.hero--small.bend--theme-red
      .container
        .hero__grid
          .hero__text
            ul.breadcrumb
              li 
                a(href="./index.html") Home
              li Personal Area
            h1.hero__title Benvenuto Alessandro
    section.personal-area      
      .personal-area__grid
        aside.secondary-navigation
          nav
            ul.secondary-navigation__navbar#tabMenu
              li.secondary-navigation__item(data-tab="1"): span General Info
              li.secondary-navigation__item(data-tab="2"): span Addresses
              li.secondary-navigation__item(data-tab="3"): span Documents
        main.informations#tabMain
          .information(data-tab="1")
            .information__header
              h2.information__title General Info
              p Edit <i class="fas fa-edit"></i>
              p.toggle Salva <i class="fas fa-edit"></i>
            ul.information__body
              li.information__item  
                p.information__type Title
                p.information__type-value Mr. 
              li.information__item
                p.information__type First Name
                p.information__type-value Alessandro Curcu
              li.information__item  
                p.information__type Last Name
                p.information__type-value Curcu
              li.information__item  
                p.information__type Email
                p.information__type-value alexqrq@gmail.com 
              li.information__item  
                p.information__type Date of Birth
                p.information__type-value 02/09/1985
              li.information__item  
                p.information__type Nationality
                p.information__type-value Italy
              li.information__item  
                p.information__type Phone
                p.information__type-value 354 367354    
          .information.toggle(data-tab="2")
            .information__header
              h2.information__title Addresses
              p#edit Edit <i class="fas fa-edit"></i>
              p#save.toggle Salva <i class="fas fa-edit"></i>
            ul.information__body
              li.information__item  
                p.information__type Address
                p.information__type-value via del Capitel n.42
              li.information__item  
                p.information__type City
                p.information__type-value Trento
              li.information__item  
                p.information__type Zip Code
                p.information__type-value 38100
              li.information__item  
                p.information__type Country
                p.information__type-value Italy       
          .information.toggle(data-tab="3")
            .information__header
              h2.information__title Documents
              p Edit <i class="fas fa-edit"></i>  
            ul.information__body
              li.information__item  
                p.information__type Cv
                p.information__type-value curriculum.pdf
              li.information__item  
                p.information__type Motivational Letter
                p.information__type-value mot.pdf
              li.information__item  
                p.information__type Sponsor Letter
                p.information__type-value sponsorlet1.pdf     
    include _footer.pug                 