extends _base.pug
block personal
  meta(name="description", content="")
  title Nuovo titolo
block link
  link(href="./css/main.css", rel="stylesheet")
  link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.5.0/css/all.css", integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU", crossorigin="anonymous")
  link(rel="stylesheet", href="https://use.typekit.net/ngl1jlg.css")
block body
  body
    include _header.pug
    .hero.hero--small.bend--theme-red
      .container
        .hero__grid
          .hero__text
            ul.breadcrumb
              li 
                a(href="./index.html") Home
              li Personal Area
            h1.hero__title Benvenuto Alessandro
    section.personal-area      
      .personal-area__grid
        aside.secondary-navigation
          nav
            ul.secondary-navigation__navbar#tabMenu
              li.secondary-navigation__item(data-tab="1"): span General Info
              li.secondary-navigation__item(data-tab="2"): span Addresses
              li.secondary-navigation__item(data-tab="3"): span Contacts
              li.secondary-navigation__item(data-tab="4"): span Hospitals
              li.secondary-navigation__item(data-tab="5"): span Documents             
        main.informations#tabMain
          .information(data-tab="1")
            h2.information__title General Info
            p Prova1
          .information.toggle(data-tab="2")
            h2.information__title Addresses
            p Prova 2
          .information.toggle(data-tab="3")
            h2.information__title Contacts
            p Prova 2
          .information.toggle(data-tab="4")
            h2.information__title Hospitals
            p Prova 2
          .information.toggle(data-tab="5")
            h2.information__title Documents
            p Prova 2
    include _footer.pug                 